<section id="experience" tabindex="0">
  <div class="container">
    <h2 class="heading">
      <span>Experience</span>
    </h2>
    <h3 class="lead">20 years of experience</h3>
    <ul class="timeline">
      <li>
        <div class="timeline-image">
          <p>Sep 1990<br />-<br />May 1996</p>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Minho University</h4>
            <h4 class="subheading">Graduate Student</h4>
          </div>
          <div class="timeline-body">
            <p>Complementary studies in cryptography and distributed operating systems</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <p>Jun 1995<br />-<br />May 1996</p>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>IDITE-Minho</h4>
            <h4 class="subheading">Project Manager</h4>
          </div>
          <div class="timeline-body">
            <p>EU project, with coordination of teams in several UE countries</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image">
          <p>Jun 1996<br />-<br />May 1998</p>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Telenet ISP</h4>
            <h4 class="subheading">Systems engineer</h4>
          </div>
          <div class="timeline-body">
            <p>
              ISP's mail system engineer<br />
              System administrator
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <p>Apr 1998<br />-<br />Apr 1999</p>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>IP Global ISP</h4>
            <h4 class="subheading">Systems engineer</h4>
          </div>
          <div class="timeline-body">
            <p>
              ISP's provisioning system<br />
              Network security officer
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image">
          <p>May 1999<br />-<br />Feb 2002</p>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Novis ISP</h4>
            <h4 class="subheading">Systems engineer</h4>
          </div>
          <div class="timeline-body">
            <p>Network security officer and mail, proxy, DNS and AAA systems</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <p>Mar 2002<br />-<br />Apr 2006</p>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Clix Portal</h4>
            <h4 class="subheading">CTO</h4>
          </div>
          <div class="timeline-body">
            <p>
              Overall technical guidance<br />
              R&amp;D of new portal products and services
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image">
          <p>Jul 2006<br />-<br />Dec 2015</p>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Excentric digital agency</h4>
            <h4 class="subheading">Partner</h4>
          </div>
          <div class="timeline-body">
            <p>
              Innovation and R&amp;D<br />
              Digital marketing
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <p>Jan 2016<br />-<br />Present</p>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Freelancer</h4>
            <h4 class="subheading">Full stack Developer</h4>
          </div>
          <div class="timeline-body">
            <p>
              Development of web apps<br />
              Consulting and advising
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div style="clear: both"></div>
  <style>
    .timeline {
      list-style: none;
      margin: 1rem 0;
      position: relative;
    }

    .timeline:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 2px;
      margin-left: -1.5px;
      background-color: var(--cream);
    }

    .timeline > li {
      min-height: 186px;
      margin-bottom: 60px;
    }

    .timeline > li:last-child {
      margin-bottom: 0;
    }

    .timeline > li .timeline-image {
      left: 50%;
      width: 150px;
      height: 150px;
      margin-left: -75px;
      z-index: 100;
      position: absolute;
      border: 1px solid var(--cream);
      border-radius: 100%;
      text-align: center;
      background: var(--cream);
    }

    .timeline > li .timeline-image p {
      font-weight: 400;
      font-size: 0.8rem;
      line-height: 1.2;
      margin: 0;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    .timeline > li .timeline-panel {
      width: 41%;
      padding: 20px 30px;
      text-align: right;
      position: relative;
    }

    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      text-align: left;
    }

    .timeline .timeline-heading h4 {
      text-transform: uppercase;
      line-height: 1.5;
    }

    .timeline .timeline-heading h4.subheading {
      text-transform: none;
      color: var(--orange);
    }

    .timeline-body p {
      font-size: 0.8rem;
    }

    @media (max-width: 767px) {
      section#experience {
        padding-bottom: 30px;
      }

      .timeline:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 35px;
        width: 2px;
        margin-left: -1.5px;
        background-color: #eee;
      }

      .timeline > li {
        margin-bottom: 0;
      }

      .timeline > li .timeline-image {
        left: 0;
        width: 70px;
        height: 70px;
        margin-left: 0;
      }

      .timeline > li .timeline-image p {
        font-size: 0.6rem;
        line-height: 1.1;
      }

      .timeline > li .timeline-panel {
        float: right;
        width: 100%;
        text-align: left;
        padding: 0 0 0 100px;
      }

      .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 20px 0 100px;
      }

      .timeline .timeline-heading h4 {
        font-size: 1rem;
      }
    }
  </style>
</section>
