<section
  id="intro"
  tabindex="0"
  style="margin-top: 0">
  <div class="container">
    <h1>
      Hello.<br/>
      I'm
      <span class="highlight">João Bordalo</span>, a full stack
      <span class="highlight">bitcoiner</span>
      living in Portugal.
    </h1>
    <p class="social">
      <a href="{{ site.stackoverflow_url }}" title="Stack Overflow">
        {% include /svg/stackoverflow.svg %}
        <span class="sr-only">Stack Overflow</span>
      </a>
      <a href="/blog" title="Blog">
        {% include /svg/blog.svg %}
        <span class="sr-only">Blog</span>
      </a>
      <a href="/nostr" title="Nostr">
        {% include /svg/nostr.svg %}
        <span class="sr-only">Nostr</span>
      </a>
      <a href="{{ site.twitter_url }}" title="Twitter">
        {% include /svg/twitter.svg %}
        <span class="sr-only">Twitter</span>
      </a>
      <a href="{{ site.github_url }}" title="GitHub">
        {% include /svg/github.svg %}
        <span class="sr-only">GitHub</span>
      </a>
    </p>
  </div>
</section>