<section id="opensource" tabindex="0">
  <div class="container">
    <h2 class="fn-mono">Open source</h2>
    <boxes>
      {% for project in site.opensource %}
        <a href="{{ project.url }}" aria-label="{{ project.name }}">
          <box>
            <h3>{{ project.name }}</h3>
            <p>{{ project.description }}&nbsp;&nearr;</p>
          </box>
        </a>
      {% endfor %}
      <a href="https://github.com/bordalix" aria-label="More on GitHub">
        <centered>
          <p>More on GitHub&nbsp;&nearr;</p>
        </centered>
      </a>
    </boxes>
  </div>
</section>