<section id="opensource" tabindex="0">
  <div class="container">
    <h2 class="heading">
      <span>Open source</span>
    </h2>
    <h3 class="lead">Giving back</h3>
    <p>
      Open source plays a tremendous part in my engineering journey. This is my primary way of learning and I'm truly
      humbled to have influenced so many people with my projects. Here are just a few of them.
    </p>
  </div>
  <div>
    <a href="/portfolio/bitcoinstats.html" aria-label="Bitcoin stats">
      <div class="box bitcoinstats" data-bg-image="bitcoinstats">
        <div class="box_text">
          <h3>Bitcoin stats</h3>
        </div>
      </div>
    </a>
    <a href="/portfolio/fuji.html" aria-label="Fuji Money">
      <div class="box fuji" data-bg-image="fuji">
        <div class="box_text">
          <h3>Fuji Money</h3>
        </div>
      </div>
    </a>
    <a href="/portfolio/nostr-utils.html" aria-label="Nostr utils">
      <div class="box nostr-utils" data-bg-image="nostr-utils">
        <div class="box_text">
          <h3>Nostr utils</h3>
        </div>
      </div>
    </a>
    <a href="/portfolio/tdex.html" aria-label="TDEX">
      <div class="box tdex" data-bg-image="tdex">
        <div class="overlay"></div>
        <div class="box_text">
          <h3>TDEX</h3>
        </div>
      </div>
    </a>
  </div>
  <div style="clear: both"></div>
  <p class="btn-container">
    <a class="btn" href="https://github.com/bordalix">View more on GitHub</a>
  </p>
</section>
