<section id="portfolio" tabindex="0">
  <div class="container">
    <h2 class="heading">
      <span>Selected work</span>
    </h2>
    <h3 class="lead">Some stuff I made recently</h3>
  </div>
  <div>
    <a href="/portfolio/arkade.html" aria-label="Arkade">
      <div class="box arkade" data-bg-image="arkade">
        <div class="box_text">
          <h3>Arkade</h3>
        </div>
      </div>
    </a>
    <a href="/portfolio/fuji.html" aria-label="Fuji">
      <div class="box fuji" data-bg-image="fuji">
        <div class="box_text">
          <h3>Fuji</h3>
        </div>
      </div>
    </a>
    <a href="/portfolio/fulmine.html" aria-label="Fulmine">
      <div class="box fulmine" data-bg-image="fulmine">
        <div class="box_text">
          <h3>Fulmine</h3>
        </div>
      </div>
    </a>
    <a href="/portfolio/marina.html" aria-label="Marina">
      <div class="box marina" data-bg-image="marina">
        <div class="overlay"></div>
        <div class="box_text">
          <h3>Marina</h3>
        </div>
      </div>
    </a>
  </div>
  <div style="clear: both"></div>
  <p class="btn-container">
    <a class="btn" href="/portfolio">View more on Portfolio</a>
  </p>
</section>