<section id="portfolio" tabindex="0">
  <div class="container">
    <h2 class="heading">
      <span>Selected work</span>
    </h2>
    <h3 class="lead nomargin">Some stuff I made recently</h3>
  </div>
  <div>
    <a href="/portfolio/appcexplorer.html" aria-label="APPC Explorer">
      <div class="box appcexplorer" data-bg-image="appcexplorer">
        <div class="box_text">
          <h3>APPC Explorer</h3>
        </div>
      </div>
    </a>
    <a href="/portfolio/catappult.html" aria-label="Catappult">
      <div class="box catappult" data-bg-image="catappult">
        <div class="box_text">
          <h3>Catappult</h3>
        </div>
      </div>
    </a>
    <a href="/portfolio/dogoffleash.html" aria-label="Dog Off Leash">
      <div class="box dogoffleash" data-bg-image="dogoffleash">
        <div class="box_text">
          <h3>Dog Off Leash</h3>
        </div>
      </div>
    </a>
    <a href="/portfolio/wheretosurftoday.html" aria-label="Where to surf today">
      <div class="box wheretosurftoday" data-bg-image="wheretosurftoday">
        <div class="overlay"></div>
        <div class="box_text">
          <h3>Where to surf today</h3>
        </div>
      </div>
    </a>
  </div>
  <div style="clear: both"></div>
  <p class="btn-container">
    <a class="btn" href="/portfolio">View more on Portfolio</a>
  </p>
</section>
