<section id="resume" tabindex="0">
  <div class="container">
    <h2 class="heading">
      <span>Resume</span>
    </h2>
    <h3 class="lead">The full story</h3>
    <p>
      Back in 1992, while at my Informatics and Systems Engineering course at the Minho University, I had the first
      contact with the Internet. At that time, Internet was nothing else than a few email addresses, some FTP sites, the
      Usenet and a couple of archaic search engines - the World Wide Web was still to be publicly available. But it was
      enough to get me hooked.
    </p>
    <p>
      I started my working experience in 1996 working for Telenet, one of the first ISP in Portugal, which was later
      bought by IP Global (also an ISP), which later was acquired by Sonae (the biggest non-financial group in Portugal)
      giving birth to Novis, a telco company. During this period, I developed strong technical knowledges in Internet
      access technologies and services, learn several open-source programming languages and developed my design,
      usability and accessibility skills.
    </p>
    <p>
      In 1999, the SonaeCom group decided to spin off Clix, the portal and future ISP brand for the the group
      telecommunications arm. In 2002, I accept the invitation to become Clix technical director, where I developed my
      management and strategic skills, and helped the company to develop the second biggest portal in Portugal, as to
      search and implement innovative access products, such as wireless broadband and TV over IP technologies.
    </p>
    <p>
      Early 2006, I decided to exit the Sonae group and formed my own company, Excentric, focusing on digital media and
      advertising, which became financial healthy in 6 months, with significant growth and development in new business
      areas.
    </p>
    <p>
      In 2013, Excentric merged with Grey Lisboa (a WPP company), giving birth to ExcentricGrey, a full service
      advertising agency, where I had the role of partner. At the end of 2015, WPP bought the remaining stake in the
      company, and I decided it was time to begin a new chapter in my professional life.
    </p>
    <p>
      Almost 10 years doing management roles kept me away from getting my hands dirty, and I felt I needed to re-learn
      the new skills of the trade. So, in 2016 I decided to take a break, and spent the entire year experimenting with
      stuff like Dockers, Meteor, MongoDB, Blockchain, Artificial Intelligence and Machine Learning.
    </p>
    <p>
      In 2017, I spent the entire year advising a Venture Builder fund on new technologies and startup evaluation. I
      also developed several website and applications for customers, and consulted a few customers on innovation and
      disruptive technologies.
    </p>
    <p>And now, here I am, looking for new opportunities.</p>
  </div>
  <div style="clear: both"></div>
  <div class="center" style="margin-bottom: 5rem">
    <a id="downloadCV" class="btn btn-primary btn-block" href="{{ site.cdn_url }}/cv/cv2020.pdf"> Download my CV </a>
  </div>
</section>
