---
title: Traffic
layout: main
description: Traffic cameras on the approach to the 25 de Abril bridge in Lisbon
---

<style>
  {% include css/traffic.css %}
</style>

<section>
  <h1 class="heading">Traffic</h1>
  <p>
    <i class="fa fa-external-link"></i>
    <a
      href="https://play.google.com/store/apps/details?id=com.id1tpnpcj1ylo4kbx4m88o"
      >Android app</a
    >
  </p>
  <h2 class="lead" id="incidents-label" style="display: none">Incidents</h2>
  <div id="incidents"></div>
  <h2 class="lead">Entering Lisbon from the South, via 25 de Abril bridge</h2>
  <div id="south_cams" class="cams"></div>
  <div style="clear: both"></div>
</section>
<section>
  <h2 class="lead">Leaving Lisbon to the South, via 25 de Abril bridge</h2>
  <div id="north_cams" class="cams"></div>
  <div style="clear: both"></div>
  <p>&nbsp;</p>
</section>

<script>
  {% include js/traffic.js %}
</script>
