---
title: Traffic
layout: main
description: Traffic cameras on the approach to the 25 de Abril bridge in Lisbon
---

<style>
  {% include css/traffic.css %}
</style>

<section>
  <div class="container">
    <h1 class="heading">Traffic</h1>
    <p>
      <i class="fa fa-external-link"></i>
      <a
        href="https://play.google.com/store/apps/details?id=com.id1tpnpcj1ylo4kbx4m88o"
        >Android app</a
      >
    </p>
    <h2 class="lead" id="incidents-label" style="display: none">Incidents</h2>
    <div id="incidents"></div>
    <h2 class="lead">Entering Lisbon from the South, via 25 de Abril bridge</h2>
    <div class="cams">
      <img src="https://vvcams.bordalix.workers.dev?type=cams&id=305" />
      <img src="https://vvcams.bordalix.workers.dev?type=cams&id=306" />
      <img src="https://vvcams.bordalix.workers.dev?type=cams&id=307" />
      <img src="https://vvcams.bordalix.workers.dev?type=cams&id=5" />
      <img src="https://vvcams.bordalix.workers.dev?type=cams&id=308" />
      <img src="https://vvcams.bordalix.workers.dev?type=cams&id=309" />
      <img src="https://vvcams.bordalix.workers.dev?type=cams&id=310" />
      <img src="https://vvcams.bordalix.workers.dev?type=cams&id=311" />
      <img src="https://vvcams.bordalix.workers.dev?type=cams&id=7" />
      <img src="https://vvcams.bordalix.workers.dev?type=cams&id=312" />
      <img src="https://vvcams.bordalix.workers.dev?type=cams&id=313" />
      <img src="https://vvcams.bordalix.workers.dev?type=cams&id=149" />
      <img src="https://vvcams.bordalix.workers.dev?type=cams&id=532" />
      <img src="https://vvcams.bordalix.workers.dev?type=cams&id=314" />
      <img src="https://vvcams.bordalix.workers.dev?type=cams&id=316" />
    </div>
    <div style="clear: both"></div>
  </div>
</section>
<section>
  <div class="container">
    <h2 class="lead">Leaving Lisbon to the South, via 25 de Abril bridge</h2>
    <div class="cams">
      <img src="https://vvcams.bordalix.workers.dev?type=cams&id=78" />
      <img src="https://vvcams.bordalix.workers.dev?type=cams&id=79" />
      <img src="https://vvcams.bordalix.workers.dev?type=cams&id=80" />
      <img src="https://vvcams.bordalix.workers.dev?type=cams&id=81" />
    </div>
    <div style="clear: both"></div>
    <p>&nbsp;</p>
  </div>
</section>

<script>
  {% include js/traffic.js %}
</script>
