<style>
  body {
    --nc-background: var(--white);
    --nc-container-font-family: inherit;
    --nc-container-font-size: 0.8rem;
    --nc-comment-author-font-size: 0.8rem;
    --nc-comment-author-font-family: inherit;
    --nc-comment-author-font-color: var(--black);
    --nc-comment-date-color: inherit;
    --nc-comment-date-font-family: sans-serif;
    --nc-comment-date-font-size: 0.8rem;
    --nc-link-text-decor: none;
    --nc-link-text-decor-hover: underline;
    --nc-textarea-font-family: inherit;
    --nc-textarea-font-size: inherit;
    --nc-text-background: var(--cream);
    --nc-text-color: var(--black);
    --nc-text-color-dark: var(--black);
    --nc-primary-color: var(--black);
    --nc-primary-contrast: var(--white);
  }
  #comments_header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 3rem;
  }
  #comments_header > p {
    margin-bottom: 0;
  }
  #comments_container div {
    border: 0;
  }
  #comments_container > div > div {
    padding: 0;
  }
  #comments_container > div > div > div:first-child {
    border: 1;
    padding: 1rem 0;
  }
  #comments_container > div > div > div:first-child > div button {
    border-color: var(--white);
    border-radius: var(--border-radius);
  }
  #comments_container > div > div > div:not(:first-child) > div {
    background-color: var(--brown_light);
    margin: 0.5rem 0;
    padding: 1rem;
  }
  #comments_container img {
    border-radius: 50%;
    margin: 0 0.25rem 0 0;
    width: auto;
  }
  #comments_container textarea {
    padding: 1rem;
  }
</style>

<div class="only-if-js">
  <div id="comments_header">
    <p><strong>Add your opinion</strong></p>
    <p style="font-size: 0.8rem">
      powered by <a href="https://github.com/fiatjaf/nocomment" target="_blank">nocomment</a>
    </p>
  </div>
  <div id="comments_container">
    <script
      data-owner="npub1vt803quxxq32fuwkp42g2lyaw2t9qupvnl3z0vyc3s9kudkyhn8qt28cxv"
      id="nocomment"
      data-placeholder="Any critics, comments or suggestions are welcome"
      src="/js/nocomment.js"></script>
  </div>
</div>
