<style>
  body {
    --nc-background: var(--white);
    --nc-container-font-family: arial;
    --nc-container-font-size: 1.2em;
    --nc-comment-author-font-size: 1.2em;
    --nc-comment-author-font-family: monospace;
    --nc-comment-author-font-color: inherit;
    --nc-comment-date-color: inherit;
    --nc-comment-date-font-family: sans-serif;
    --nc-comment-date-font-size: 0.7em;
    --nc-link-text-decor: none;
    --nc-link-text-decor-hover: underline;
    --nc-textarea-font-family: inherit;
    --nc-textarea-font-size: inherit;
    --nc-text-background: var(--cream);
    --nc-text-color: var(--black);
    --nc-text-color-dark: var(--black);
    --nc-primary-color: var(--black);
    --nc-primary-contrast: var(--white);
  }
  #xxx > div > div {
    padding: 0;
  }
  #xxx > div > div > div {
    padding: 1rem;
  }
</style>

<div id="xxx">
  <script src="https://nocomment.fiatjaf.com/embed.js" id="nocomment"></script>
</div>
