<h2>
  <a href="{{ foo.url }}">{{ foo.title }}</a>
</h2>
<div class="metainfo">
  <div>
    <p>
      <time datetime="{{ foo.date }}" class="timeago">{{ foo.date }}</time>
      <span class="only-if-js">&middot;</span>
      <span class="listen only-if-js false-link">listen</span>
      <span class="stop only-if-js false-link" style="display: none">stop</span>
    </p>
    {% include html/post/share.html %}
  </div>
  <div>
    {% assign words = foo.content | number_of_words %}
    {% if words < 300 %}
      <p>1 minute read</p>
    {% else %}
      <p>{{ words | divided_by: 150 }} minutes read</p>
    {% endif %}
    {% if foo.tags %}
      <p>
        {% for tag in foo.tags %}
          <a class="tag" href="/search/#{{tag}}">
            <span>#{{ tag }}</span>
          </a>
        {% endfor %}
      </p>
    {% endif %}
  </div>
</div>