<style>
  div.metainfo {
    border-bottom: 1px silver solid;
    border-top: 1px silver solid;
    color: silver;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 0;
  }
  div.metainfo p {
    font-size: 0.8rem;
    padding: 0.2rem 0;
    margin: 0;
  }
  div.auxiliar {
    color: silver;
    display: flex;
    justify-content: space-between;
    margin-top: 0.21rem;
  }
  div.auxiliar p {
    font-size: 0.66rem;
  }
  a.tag:hover {
    text-decoration: none;
  }
  a.tag span {
    border-radius: 4px;
    font-size: 0.66rem;
    padding: 0 0.3rem;
  }
  a.tag span:hover {
    background-color: var(--orange);
    color: var(--white);
  }
</style>

<h2>
  <a href="{{ foo.url }}">{{ foo.title }}</a>
</h2>
<div class="metainfo">
  <p>
    <time datetime="{{ foo.date }}" class="timeago">{{ foo.date }}</time>
    <span class="only-if-js">&middot;</span>
    <span class="listen only-if-js false-link">listen</span>
    <span class="stop only-if-js false-link" style="display: none">stop</span>
  </p>
  {% include html/post/share.html %}
</div>
<div class="auxiliar">
  {% assign words = foo.content | number_of_words %}
  {% if words < 300 %}
    <p>1 minute read</p>
  {% else %}
    <p>{{ words | divided_by: 150 }} minutes read</p>
  {% endif %}
  {% if foo.tags %}
    <p>
      {% for tag in foo.tags %}
        <a class="tag" href="/search/#{{tag}}">
          <span>#{{ tag }}</span>
        </a>
      {% endfor %}
    </p>
  {% endif %}
</div>