<style>
  div.metainfo {
    border-bottom: 1px silver solid;
    border-top: 1px silver solid;
    color: silver;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 0;
  }
  div.metainfo p {
    font-size: 0.9rem;
    margin: 0.3rem 0;
  }
  span.tag {
    background-color: var(--tag-bgcolor);
    border-radius: 4px;
    font-size: 0.66rem;
    padding: 0 0.3rem;
  }
</style>

<h2>
  <a href="{{ foo.url }}">{{ foo.title }}</a>
</h2>
<div class="metainfo">
  <p>
    <time datetime="{{ foo.date }}" class="timeago">{{ foo.date }}</time>
    &middot;
    <span class="listen false-link">listen</span>
    <span class="stop false-link" style="display: none">stop</span>
  </p>
  {% include html/post/share.html %}
</div>
{% if foo.tags %}
<p style="text-align: right">
  {% for tag in foo.tags %}
  <a href="/search?q={{tag}}">
    <span class="tag">#{{ tag }}</span>
  </a>
  {% endfor %}
</p>
{% endif %}
