/* http://meyerweb.com/eric/tools/css/reset/*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,
section,summary,time,mark,audio,video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}
body {line-height:1;}
ol,ul {list-style:none;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:’’;content:none;}
ins {text-decoration:none;}
del {text-decoration:line-through;}
table {border-collapse:collapse;border-spacing:0;}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
}
a {
  color: #1f75b2;
  outline: none;
  text-decoration: none;
}
a:hover, a:focus {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
  color: #000;
}
h1 { font-size: 40px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; margin-bottom: 60px; }
p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px 0;
}
p.lead {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 60px;
}
p.url {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 30px;
  color: #ccc;
}
strong { font-weight:700; }
img {
  opacity: 1;
  transition: opacity 0.3s;
  width: 100%;
}
section { padding: 60px 0; }
section.grey { background-color: #f6f6f6; }
nav p {
  font-size: 16px;
  line-height: 20px;
}
nav.menu-top p a {
  vertical-align: middle;
  color: #000;
}
nav .menu-option {
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
}
nav .menu-option.right { text-align: right;}
nav.menu-bottom .project {
  margin-top: 20px;
  width: 50%;
  float: left;
}
nav.menu-bottom .project p { line-height: 24px; }
nav.menu-bottom .project.right p { text-align: right; }
nav.menu-bottom .project p a { padding: 0 12px; }
nav img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
ul {
 list-style: disc;
 margin: 1rem 0 1rem 1rem;
}
li {
  line-height: 24px;
  font-weight: 300;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 820px;
  padding: 10px;
}
.text_column {
  width:50%;
  float:left;
  position: relative;
  min-height: 1px;
}
.text_column.left { padding-right: 30px; }
.text_column.right { padding-left: 30px; } 
.text_column.left img {
  border: 1px solid #ddd;
  margin-bottom: 30px;
}
.heading {
  text-align: left;
  margin-bottom: 40px;
}
.heading:after {
  content: " ";
  display: block;
  width: 100px;
  height: 2px;
  margin: 20px 0 20px;
  background: #2b90d9;
}
.footer { background: #282c37; }
.footer p {
  background: #282c37;
  color: #ccc;
  padding: 20px 0;
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
}
.footer_copyright {
  width: 50%;
  float: left;
}
.footer_back_to_top {
  width: 50%;
  float: left;
}
.footer_back_to_top p {
  text-align: right;
}
.footer_back_to_top p a {
  cursor:pointer;
  color: #3c9add;
}
span.skill {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #757575;
  font-size: 14px;
}
.technical-info-block {
  position: relative;
  text-align: left;
  width: 100%;
  display: block;
  margin: 0;
  padding: 9px 0;
}
.technical-info-block .ti-icon {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  font-size: 40px;
  color: #4b3782;
}
.technical-info-block .ti-icon img {
  width: 40px;
  height: 40px;
}
.technical-info-block .ti-text {
  position: relative;
  padding-left: 60px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1020px;
  }
  h1 {
    font-size: 60px;
    line-height: 72px;
    margin: 0 0 24px 0;
  }
  h2 {
    font-size: 40px;
    line-height: 50px;
    margin: 0 0 40px 0;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 60px 0;
  }
}
@media (max-width: 768px) {
  .text_column {
    width:100%;
    float:none;
    padding:0;
  }
  .text_column.left, .text_column.right { padding:0; }
}