<h2 id="covenants">Covenants</h2>
<p>Ideally Ark would use covenants to achieve <strong>non-interactivity</strong>:</p>
<ul>
  <li>OP_CHECKTEMPLATEVERIFY (CTV)</li>
  <li>OP_TXHASH / OP_TX</li>
  <li>OP_CHECKSIGFROMSTACK (on Liquid)</li>
  <li>SIGHASH_ANYPREVOUT</li>
</ul>
<div class="tech">
  <p onclick="toggleVisibility('#c1')">🔎 Deep dive on Ark with covenants</p>
  <div class="hidden" id="c1">
    <script type="text/typogram">
      {% include txt/ark/covenants1.txt %}
    </script>
  </div>
</div>
<h3 id="clark">Without covenants: clArk</h3>
<ul>
  <li>Possible on Bitcoin today</li>
  <li>
    Uses multisigs instead of covenants:
    <ul>
      <li>All receivers cosign with ASP</li>
      <li>Requires senders and receivers online &rarr; <strong>Interactive version</strong></li>
    </ul>
  </li>
</ul>
<div class="tech">
  <p onclick="toggleVisibility('#c2')">🔎 Deep dive on Ark without covenants</p>
  <div class="hidden" id="c2">
    <script type="text/typogram">
      {% include txt/ark/covenants2.txt %}
    </script>
  </div>
</div>
