<h2 id="eli5">ELI5</h2>
<ul>
  <li>
    Alice sends money to the bank and in return receives a check from the bank that she can redeem anytime anywhere (not
    only on this bank)
  </li>
  <li>
    If Alice wants to pay Bob using Ark, she can ask the bank to pay Bob, and in return she will endorse their check
    back to the bank.
  </li>
  <li>The bank can only redeem Alice's check if it shows proof of payment to Bob.</li>
  <li>Bob receives a check from the bank that he can redeem anytime anywhere.</li>
</ul>
