<h2 id="exit">Offboarding the Ark</h2>
<p>
  When Alice wants to exit the Ark, she arranje with the ASP to have an output (<em>Alice</em>) on the next Round 
  transaction.
</p>
<script type="text/typogram">
  {% include txt/ark/exiting0.txt %}
</script>
<p>Alice could also unilaterally exit, i.e. without ASP's cooperation, by redeeming hers VTXO for an onchain UTXO.</p>
<p>In order to be trustless:</p>
<ul>
  <li>Alice sending the VTXO to ASP and the ASP sending funds to Alice must be atomic</li>
  <li>
    The ASP needs to have an insurance that Alice will not try to double spend her VTXO after it funds Alice's UTXO, so 
    it demands a signed transaction (the forfeit transaction) from Alice. This forfeit transaction spends from Alice's
    VTXO and it will be broadcasted only if Alice tries to double spend her VTXO
  </li>
</ul>
<div class="tech">
  <p onclick="toggleVisibility('#dd3')">🔎 Deep dive on Offboarding the Ark</p>
  <div class="hidden" id="dd3">
    <h3>Collaborative exit</h3>
    <ol>
      <li>Alice generates new onchain address A</li>
      <li>Alice informs ASP she wants to pay 0.01 BTC onchain to address A</li>
      <li>ASP (with help of Alice) prepares new transaction (Round Tx 3) and show it to Alice:</li>
      <script type="text/typogram">
        {% include txt/ark/exiting3.txt %}
      </script>
      <li>Alice sees extra output paying 0.01 BTC to her address</li>
      <li>Alice understands that when Round Tx 3 confirms, she will have 0.01 BTC onchain</li>
      <li>Alice proceeds by sending her VTXO to the ASP, on the condition that Round Tx 3 is confirmed:</li>
      <script type="text/typogram">
        {% include txt/ark/exiting6.txt %}
      </script>
      <li>
        ASP cannot cheat, if he wants to receive the VTXO from Alice he needs to send it onchain to Alice, which means 
        Alice is exiting the Ark atomically.
      </li>
      <script type="text/typogram">
        {% include txt/ark/exiting7.txt %}
      </script>
    </ol>
    <h3>Unilateral exit</h3>
    <p>Alice can leave the Ark anytime by redeeming hers VTXO for an onchain UTXO.</p>
    <p>The cost of this broadcast depends on several factors:</p>
    <ul>
      <li>How many transactions are on Alice's branch?</li>
      <li>How much is mempool fees (sats/vbyte) at the moment?</li>
      <li>Did anyone leaved already, making some of Alice's transactions already confirmed?</li>
    </ul>
    <h3>Adversarial scenarios</h3>
    <ul>
      <li>
        Alice doesn't sign the
        <strong>Forfeit transaction</strong><br/>
        The ASP doesn't include Alice's UTXO on the next round transaction<br/><br/>
      </li>
      <li>
        ASP never broadcasts the next
        <strong>Round transaction</strong><br/>
        ASP forfeit transaction becomes invalid, which means Alice still has full control of her VTXO<br/><br/>
      </li>
    </ul>
  </div>
</div>