<h3>Payment</h3>
<p>
  Alice then instructs the ASP to take her VTXO and pay Bob. She will only need to know Bob's address. This payment is
  also atomic and private. The ASP does not know which VTXO belongs to which user and blindly mixes them to produce
  another anonymous VTXO set. Ark's magic occurs in the fact that the post-mix VTXOs can only be claimed by the intended
  recipients even though the ASP has no idea who owns them. Put another way, the ASP is simply coordinating blind
  coinjoin rounds.
</p>
<p>Now let's imagine Alice wants to send some sats to Bob using Ark:</p>
<script type="text/typogram">
  {% include txt/ark/payment0.txt %}
</script>
<p>Alice forfeits its VTXO to the ASP and in return Bob receives a VTXO</p>
<p>In order to be trustless:</p>
<ul>
  <li>Alice sending funds to ASP and the ASP creating the VTXO for Bob needs to be an atomic operation</li>
  <li>
    The ASP needs to have an insurance that Alice will not try to double spend her VTXO after it funds Bob's VTXO, so it
    demands a signed transaction (the forfeit transaction) from Alice. This forfeit transaction spends from Alice's VTXO
    and it will be broadcasted only if Alice tries to double spend her VTXO
  </li>
</ul>
<div class="tech">
  <a onclick="toggleVisibility('#dd2')">🔎 Deep dive on Ark payments</a>
  <div class="hidden" id="dd2">
    <ol>
      <li>Alice asks Bob for an address (address B)</li>
      <li>Alice informs ASP she wants to pay 0.01 BTC to address B</li>
      <li>ASP prepares new transaction (Pool Tx 2) and show it to Alice:</li>
      <script type="text/typogram">
        {% include txt/ark/payment3.txt %}
      </script>
      <li>Alice looks at the locking script for this new UTXO and sees Bob's public key on it</li>
      <li>Alice understands that when Pool Tx 2 confirms, Bob will have 0.01 BTC on Ark</li>
      <li>
        Alice proceeds by signing a PSBT that sends her VTXO to the ASP, on the condition that Pool Tx 2 is confirmed.
        We will call this the forfeit transaction:
      </li>
      <script type="text/typogram">
        {% include txt/ark/payment6.txt %}
      </script>
      <li>
        ASP cannot cheat, if he wants to receive from Alice he needs to send it to Bob, which means Alice is paying Bob
        atomically.
      </li>
    </ol>
    <h4>"Only if Pool Tx 2 is confirmed"</h4>
    <p>
      This condition is not possible to implement today using Bitcoin script, but we can implement it using
      <strong>anchored transactions</strong>:
    </p>
    <ul>
      <li>Pool Tx 1 will have additional outputs, called <em>connectors</em></li>
      <li>This connectors have no financial value (minimum dust limit)</li>
      <li>Connectors are singlesig spendable by the ASP (<em>ASP</em>)</li>
      <li>Alice will use one of this connectors as input to the new transaction</li>
      <li>Alice will sign her VTXO with SIGHASH_ALL to commit to all inputs</li>
      <li>The ASP will sign the connector input</li>
    </ul>
    <script type="text/typogram">
      {% include txt/ark/payment7.txt %}
    </script>
    <p>This way, the transaction where Alice gives her VTXO to the ASP is only valid if Pool Tx 2 is confirmed.</p>
    <h4>Adversarial scenarios</h4>
    <ul>
      <li>
        Alice doesn't sign the <strong>Forfeit transaction</strong><br />
        The ASP doesn't include Bob's VTXO on the next pool transaction<br /><br />
      </li>
      <li>
        ASP never broadcasts the next <strong>Pool transaction</strong><br />
        ASP forfeit transaction becomes invalid, which means Alice still has full control of her VTXO<br /><br />
      </li>
    </ul>
  </div>
</div>
