<h2 id="somsen">The Somsen Shortcut</h2>
<p>
  Currently both senders and recipients need to be online simultaneously to transfer value in Ark. This requirement can
  be reduced by a soft fork (i.e. OP_CTV). We can eliminate the need for a soft fork by giving both the sender and the
  recipient the option to complete a swap with the ASP, allowing the recipient to complete the payment on their own.
</p>
<h3>The swap option</h3>
<p>
  Enables both Alice as well as Bob to control the funds together with the ASP and makes no judgement about who
  currently owns the money.
</p>
<p>
  Now it's up to Alice or Bob to collaborate with the ASP and transfer the coins inside Ark (so a new on-chain UTXO) in
  order to turn over the ownership exclusively to either Alice or Bob.
</p>
<p>In practice this means Bob can finish the payment without requiring direct interaction with A.</p>
<ul>
  <li>No trust needed</li>
  <li>Reduces Ark interactivity without a soft fork</li>
  <li>Preserves proof of payment and has no race conditions</li>
</ul>

<div class="tech">
  <a onclick="toggleVisibility('#ss1')">🔎 Deep dive on the swap option</a>
  <div class="hidden" id="ss1">
    <ol>
      <!-- #1 -->
      <li>Let's say Alice wants to send to Bob</li>
      <script type="text/typogram">
        {% include txt/ark/somsen1.txt %}
      </script>
      <!-- #2 -->
      <li>
        Alice gets the ASP to sign a new <strong>Shortcut transaction</strong> with the following script:
        <em>(Bob + ASP) or (Alice + ASP) or (Alice in 1 month)</em> (i.e. adding the <em>Bob + ASP</em> condition). We
        ensure the new <strong>Shortcut transaction</strong> becomes valid before the old
        <strong>Redeem transaction</strong> with timelocks.
      </li>
      <script type="text/typogram">
        {% include txt/ark/somsen2.txt %}
      </script>
      <!-- #3 -->
      <li>
        Now Alice foregoes her claim on the old <strong>Redeem transaction</strong> by signing an <u>unconditional</u>
        <strong>Forfeit transaction</strong>, thus allowing ASP to simply claim the money if
        <strong>Redeem transaction</strong> ever gets published.
      </li>
      <script type="text/typogram">
        {% include txt/ark/somsen3.txt %}
      </script>
      <!-- #4 -->
      <li>
        Alice now sends <strong>Shortcut transaction</strong> to Bob, who can claim the payment by swapping with the
        ASP. If Bob isn't responsive, Alice can perform the swap instead, or attempt to repeat the same steps with
        another recipient.
      </li>
    </ol>
  </div>
</div>

<h3>The statechain option</h3>
<p>
  This "statechain option" is basically statechains on top of Ark, so you're transferring from Alice to Bob without
  going on-chain by co-signing with the ASP and trusting them not to change their minds. As long as this this assumption
  holds, the transfer is instant.
</p>
<ul>
  <li>Basically statechains on top of Ark</li>
  <li>Bob trusts Alice and ASP will not to change their minds</li>
  <li>Instant (trusted) finality</li>
</ul>

<div class="tech">
  <a onclick="toggleVisibility('#ss2')">🔎 Deep dive on the statechain option</a>
  <div class="hidden" id="ss2">
    <ol>
      <!-- #1 -->
      <li>Let's say Alice wants to send to Bob</li>
      <script type="text/typogram">
        {% include txt/ark/statechain1.txt %}
      </script>
      <!-- #2 -->
      <li>
        Alice gets the ASP to sign a new <strong>Shortcut transaction</strong> with locking script:
        <em>(Bob + ASP) or (Bob in 24h)</em>
      </li>
      <script type="text/typogram">
        {% include txt/ark/statechain2.txt %}
      </script>
      <!-- #3 -->
      <li>Alice doesn't need to sign a <strong>Forfeit transaction</strong></li>
      <!-- #4 -->
      <li>The Ark tree will look something like this:</li>
      <script type="text/typogram">
        {% include txt/ark/statechain4.txt %}
      </script>
    </ol>
  </div>
</div>
