<p>Sources:</p>
<ul>
  <li>
    <a href="https://lists.linuxfoundation.org/pipermail/bitcoin-dev/2023-May/021694.html"
      >https://lists.linuxfoundation.org/pipermail/bitcoin-dev/2023-May/021694.html</a
    >
  </li>
  <li>
    <a href="https://lists.linuxfoundation.org/pipermail/bitcoin-dev/2023-August/021858.html"
      >https://lists.linuxfoundation.org/pipermail/bitcoin-dev/2023-August/021858.html</a
    >
  </li>
  <li>
    <a href="https://www.youtube.com/watch?v=EocWax43QgQ">https://www.youtube.com/watch?v=EocWax43QgQ</a>
  </li>
  <li>
    <a href="https://bitguide.substack.com/p/ark-bitcoins-new-layer-2-protocol"
      >https://bitguide.substack.com/p/ark-bitcoins-new-layer-2-protocol</a
    >
  </li>
  <li>
    <a href="https://gist.github.com/RubenSomsen/a394beb1dea9e47e981216768e007454"
      >https://gist.github.com/RubenSomsen/a394beb1dea9e47e981216768e007454</a
    >
  </li>
  <li>
    <a href="https://roose.io/presentations/understanding-ark.pdf"
      >https://roose.io/presentations/understanding-ark.pdf</a
    >
  </li>
  <li>
    <a href="https://twitter.com/pippellia/status/1710345103506563128">Pippellia</a>
    <a href="https://rumble.com/v3nf9vd-ark-explained-bitcoin-layer-2-protocol.html">video</a>
    explaining Ark
  </li>
</ul>
