<h3>TL/DR</h3>
<ul>
  <li>There are two parties involved in Ark: users and the Ark Service Provide (ASP) aka Server</li>
  <li>Ark implements <strong>VTXOs</strong>, and all values exchanged inside Ark use <strong>VTXOs</strong></li>
  <li>
    <strong>VTXOs</strong> are outpoints from hidden transactions, that can be broadcasted to mainchain to become
    <strong>UTXOs</strong>, or sent to the ASP in exchange for other <strong>VTXOs</strong>
  </li>
  <li><strong>VTXOs</strong> are created inside <strong>Pool transactions</strong></li>
  <li>
    Spending and receiving <strong>VTXOs</strong> doesn't touch the chain, which allows for an infinite exchange of
    value inside Ark with a minimal chain footprint
  </li>
  <li>
    Ark is a completely <u>trustless</u> solution: users don't need ASP's permission to get their money back from the
    Ark, and the ASP doesn't need to trust users
  </li>
</ul>
