---
title: João Bordalo
layout: main
---

<script src="https://bundle.run/buffer@6.0.3"></script>
<script src="https://bundle.run/bech32@2.0.0"></script>
<script src="https://nostr-utils.pages.dev/js/jquery-3.6.2.min.js"></script>
<script src="https://nostr-utils.pages.dev/js/nostr-utils.js"></script>

<style>
  section.user {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    & > p {
      height: 8rem;
      width: 8rem;
    }
    & img {
      border-radius: 50%;
      border: 1px solid silver;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    & > div {
      align-items: center;
      display: flex;
      justify-content: flex-end;
       & div:first-child p {
        font-weight: 700;
        padding-right: 1rem;
        text-align: right;
      }
      & p {
        font-size: 0.8rem;
        margin-bottom: 0.21rem;
      }
    }
  }
  @media (max-width: 440px) {
    section.user {
      flex-direction: column;
      & > p {
        margin: auto;
      }
      & > div {
        justify-content: center;
      }
    }
  }
  article.note {
    margin-bottom: 3rem;
    & h2 {
      margin-bottom: 0.7rem;
    }
    & div {
      color: silver;
      margin-bottom: 24px;
      & div {
        border-bottom: 1px silver solid;
        border-top: 1px silver solid;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        padding: 0;
      }
      & p {
        font-size: 0.8rem;
        padding: 0.2rem 0;
        margin: 0;
        &.read {
          font-size: 0.66rem;
        }
      }
    }
  }
</style>

<template id="user">
  <section class="user">
    <p></p>
    <div>
      <div>
        <p>name:</p>
        <p>nip05:</p>
        <p>lud16:</p>
        <p>website:</p>
      </div>
      <div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
    </div>
  </section>
</template>

<template id="note">
  <article class="note">
    <h2>Note</h2>
    <div>
      <div>
        <p class="time">
          <time datetime="" class="timeago"></time>
        </p>
        <p class="link"></p>
      </div>
      <p class="read"></p>
    </div>
    <p class="content"></p>
  </article>
</template>

<section
  id="nostr"
  tabindex="0"
  style="margin-top: 0">
  <div class="container" id="postsList">
    <h1 class="heading">
      <span>Nostr</span>
    </h1>
    <h2 class="lead">Last 7 days on Nostr</h2>
    <p id="loadingProfile">Loading profile {% include /svg/loading.svg %}</p>
    <div id="profileInfo"></div>
    <p id="loadingNotes">Loading notes {% include /svg/loading.svg %}</p>
    <div id="notesContainer"></div>
  </div>
</section>

<script>
  const relays = [
    'wss://nos.lol',
    'wss://relay.bitcoinpark.com',
    'wss://relay.damus.io',
    'wss://relay.nostr.bg',
    'wss://relay.noswhere.com',
    'wss://relay.primal.net',
  ]

  let pubkey = '62cef883863022a4f1d60d54857c9d729650702c9fe227b0988c0b6e36c4bcce'

  if (!window.location.search) {
    window.location.href = window.location.href + `?${pubkey}`
  } else {
    pubkey = window.location.search.substring(1)
    if (/^npub/.test(pubkey)) {
      pubkey = npub2hexa(pubkey)
      window.location.search = `?${pubkey}`
    }
  }

  const pretty = {
    date: (unix) => {
      return new Date(unix * 1000).toLocaleDateString('en-us', {
        weekday: 'long',
        year: 'numeric',
        month: 'short',
        day: 'numeric',
      })
    },
    hour: (unix) => {
      return new Date(unix * 1000).toLocaleTimeString('en-us', {
        timeZone: 'UTC',
        timeZoneName: 'short',
      })
    },
    html: (content) => {
      if (content.match(/https:\/\//)) {
        for (const match of content.match(/https:\/\/.*/g)) {
          content = content.replace(match, `<a href="${match}">${match}</a>`)
        }
      }
      if (content.match(/nostr:/)) {
        for (const match of content.match(/nostr:.*/g)) {
          const id = match.split(':')[1]
          content = content.replace(match, `<a href="https://njump.me/${id}">${match}</a>`)
        }
      }
      return content.replace(/\n/g, '<br />')
    },
    link: (note) => {
      const text = `link to ${note.tags?.length == 0 ? 'note' : 'reply'}`
      return `<a href="http://njump.me/${note.id}">${text}</a>`
    },
  }

  // get user profile
  getEvents({ authors: [pubkey], kinds: [0] }).then((events) => {
    document.querySelector('#loadingProfile').remove()
    const mostRecent = events.reduce((prev, curr) => (curr.created_at > prev.created_at ? curr : prev))
    const { lud16, name, nip05, picture, website } = JSON.parse(mostRecent.content)
    const npub = hexa2npub(pubkey)
    const clone = document.querySelector('#user').content.cloneNode(true)
    const p = clone.querySelectorAll('p')
    if (picture) p[0].innerHTML = `<img src="${picture}">`
    if (name) p[5].innerHTML = `<a href="https://njump.me/${npub}">${name}</a>`
    if (nip05) p[6].innerHTML = `<a href="https://njump.me/${nip05}">${nip05}</a>`
    if (lud16) p[7].innerHTML = `${lud16} ⚡`
    if (website) p[8].innerHTML = `<a href="https://njump.me/${website}">${website}</a>`
    document.querySelector('#profileInfo').appendChild(clone)
  })

  // get events from relays
  const aWeekAgo = Math.floor(Date.now() / 1000 - 7 * 24 * 60 * 60)
  const filter = { authors: [pubkey], kinds: [1], since: aWeekAgo }
  getEvents(filter).then((data) => {
    notesContainer = document.querySelector('#notesContainer')
    document.querySelector('#loadingNotes').remove()
    if (data.length === 0) {
      const p = document.createElement('p')
      p.innerText = '<empty>'
      notesContainer.appendChild(p)
    }
    data
      .sort((a, b) => b.created_at - a.created_at)
      .map((note) => {
        const lines = note.content.split('\n')
        const title = lines.find((line) => line.length > 0)
        const clone = document.querySelector('#note').content.cloneNode(true)
        const m = Math.ceil(note.content.split(' ').length / 150)
        clone.querySelector('h2').innerHTML = title.replace(/:$/, '')
        clone.querySelector('time').innerHTML = pretty.date(note.created_at)
        clone.querySelector('.read').innerHTML = `${m} minute${m === 1 ? '' : 's'} read`
        clone.querySelector('.link').innerHTML = pretty.link(note)
        clone.querySelector('.content').innerHTML = pretty.html(note.content)
        notesContainer.appendChild(clone)
      })
  })
</script>