---
title: Ark ELI5
layout: main
description: Explain ARK like I'm 5
---

<style>
  .ark svg {
    margin-bottom: 2rem;
  }
  .ark .hidden {
    display: none;
    padding-top: 1rem;
  }
  .ark .tech {
    background-color: var(--lightgrey);
    margin: 0 -1rem 1rem -1rem;
    padding: 1rem;
  }
  .ark a {
    cursor: pointer;
  }
  .ark h3 {
    margin: 2em 0 1em 0;
  }
  .ark ol li {
    margin-bottom: 1rem;
  }
</style>

<script>
  function toggleVisibility(selector) {
    const element = document.querySelector(selector)
    const display = element.style.display
    element.style.display = display === 'block' ? 'none' : 'block'
  }
</script>

<script src="https://google.github.io/typograms/typograms.js"></script>

<section class="ark">
  <div class="container">
    <h2 class="heading">
      <span class="gradient">Explain ARK like I'm 5</span>
    </h2>
    <h3>ELI5</h3>
    <ul>
      <li>
        Alice sends money to the bank and in return receives a check from the
        bank that she can redeem anytime anywhere (not only on this bank).
      </li>
      <li>
        If Alice wants to pay Bob using Ark, she can ask the bank to pay Bob,
        and in return she will endorse their check back to the bank.
      </li>
      <li>
        The bank can only redeem Alice's check if it shows proof of payment to
        Bob.
      </li>
      <li>
        Bob receives a check from the bank that he can redeem anytime anywhere.
      </li>
    </ul>
    <h3>Lifting</h3>
    <p>
      The first step is for Alice to lift her coins. This is an atomic swap
      where she will give up a UTXO (+ fees) to receive a vUTXO from the ASP at
      the same time. The ASP makes a special transaction, called pool
      transaction (Pool TX), where it mixes UTXOs from many users (among other
      things) and creates a shared UTXO as well as many off-chain vUTXOs for
      each of those users including one for Alice.
    </p>
    <p>
      In this example, Alice, Bob and Carol are "lifting" 1 BTC each to Ark:
    </p>
    <script type="text/typogram">
      {% include txt/ark/graph1.txt %}
    </script>
    <div class="tech">
      <a onclick="toggleVisibility('#dd1')">Deep dive</a>
      <div class="hidden" id="dd1">
        <p>Every 5 seconds there's an onchain transaction:</p>
        <script type="text/typogram">
          {% include txt/ark/diagram.txt %}
        </script>
        <p>
          The output is a UTXO locked by a multisig 4 of 4, where 4 is the
          number of participants in the transaction. An alternative tapleaf
          allows the ASP to spend it alone after 4 weeks.
        </p>
        <p>
          The resulting UTXO is then used as input for a new transaction. This
          new transaction doesn't need to go onchain, but Alice, Bob and Carol
          each have a copy of it, and they can broadcast it to the network any
          time to recover their BTC.
        </p>
        <script type="text/typogram">
          {% include txt/ark/diagram2.txt %}
        </script>
      </div>
    </div>
    <h3>Payment</h3>
    <p>
      Alice then instructs the ASP to take her vUTXO and pay Bob. She will only
      need to know Bob's address. This payment is also atomic and private. The
      ASP does not know which vUTXO belongs to which user and blindly mixes them
      to produce another anonymous vUTXO set. Ark's magic occurs in the fact
      that the post-mix vUTXOs can only be claimed by the intended recipients
      even though the ASP has no idea who owns them. Put another way, the ASP is
      simply coordinating blind coinjoin rounds. Bob does not have to be online
      to receive the funds, can claim them at any time, transfer them to others,
      or move them on-chain.
    </p>
    <p>Now let's imagine Alice wants to send Eve 1 BTC using Ark:</p>
    <script type="text/typogram">
      {% include txt/ark/graph2.txt %}
    </script>
    <p>
      Alice forfeits its vUTXO to the ASP and in return Bob receives a vUTXO
    </p>
    <div class="tech">
      <a onclick="toggleVisibility('#dd2')">Deep dive</a>
      <div class="hidden" id="dd2">
        <ol>
          <li>Alice asks Eve for an address (address E)</li>
          <li>Alice informs ASP she wants to pay 1 BTC to address E</li>
          <li>
            ASP (with help of E) prepares new transaction (TX2) and show it to
            Alice:
          </li>
          <script type="text/typogram">
            {% include txt/ark/diagram3.txt %}
          </script>
          <li>
            Alice looks at the locking script for this new UTXO and sees Eve's
            public key on it
          </li>
          <li>
            Alice understands that when TX2 confirms, Eve will have 1 BTC on Ark
          </li>
          <li>
            Alice proceeds by sending her vUTXO to the server, on the condition
            that TX2 is confirmed:
          </li>
          <script type="text/typogram">
            {% include txt/ark/diagram4.txt %}
          </script>
          <li>
            ASP cannot cheat, if he wants to receive from Alice he needs to send
            it to Eve, which means Alice is paying Eve atomically.
          </li>
        </ol>
        <p>
          <strong>"only if TX2 is confirmed"</strong>
        </p>
        <p>
          This condition is not possible to implement today using Bitcoin
          script, but we can implement it using a trick:
        </p>
        <ul>
          <li>
            TX1 will have additional outputs, called
            <strong>connectors</strong>
          </li>
          <li>This connectors have no financial value (dust limit)</li>
          <li>Connectors are singlesig spendable by the ASP</li>
          <li>
            Alice will use one of this connectors as input to the new
            transaction
          </li>
          <li>
            Alice will sign her vUTXO with SIGHASH_ALL to commit to all inputs
          </li>
          <li>The ASP will sign the connector input</li>
        </ul>
        <script type="text/typogram">
          {% include txt/ark/diagram5.txt %}
        </script>
        <p>
          This way, the TX where Alice gives her vUTXO to the server is only
          valid if TX2 is confirmed.
        </p>
      </div>
    </div>
    <p>To be continued...</p>
    <p>Sources:</p>
    <ul>
      <li>
        <a
          href="https://lists.linuxfoundation.org/pipermail/bitcoin-dev/2023-August/021858.html"
          >https://lists.linuxfoundation.org/pipermail/bitcoin-dev/2023-August/021858.html</a
        >
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=EocWax43QgQ"
          >https://www.youtube.com/watch?v=EocWax43QgQ</a
        >
      </li>
      <li>
        <a
          href="https://bitguide.substack.com/p/ark-bitcoins-new-layer-2-protocol"
          >https://bitguide.substack.com/p/ark-bitcoins-new-layer-2-protocol</a
        >
      </li>
      <li>
        <a
          href="https://gist.github.com/RubenSomsen/a394beb1dea9e47e981216768e007454#confirmation-times"
          >https://gist.github.com/RubenSomsen/a394beb1dea9e47e981216768e007454#confirmation-times</a
        >
      </li>
    </ul>
  </div>
</section>
