iframe,
img,
embed,
object {
  width: 100%;
  margin-bottom: 24px;
}

div.placeholder {
  background: url('https://joaobordalo.com/images/static/blog/placeholder.png') no-repeat scroll 0 0;
}

table {
  border: 1px solid var(--grey);
  margin-bottom: 24px;
  width: 100%;
}

td {
  padding: 10px;
}

ul,
ol {
  margin-left: 1rem;
}

.has-border {
  border: 1px solid var(--grey);
}
