iframe,
img,
embed,
object {
  width: 100%;
  margin-bottom: 24px;
}

nav.menu-bottom {
  padding-bottom: 2rem;
}

nav.menu-bottom .post p:nth-child(2) {
  margin-top: -1rem;
  padding: 0;
}

div.placeholder {
  background: url('https://joaobordalo.com/images/static/blog/placeholder.png')
    no-repeat scroll 0 0;
}

table {
  border: 1px solid #333;
  margin-bottom: 24px;
  width: 100%;
}

td {
  padding: 10px;
}

li {
  margin-bottom: 12px;
}

ul {
  margin: -0.5rem 0 2.5rem 0;
}
