.box {
  width: 25%;
  padding-top: 20%;
  float: left;
  position: relative;
  background-size: auto 70%;
  background-repeat: no-repeat;
  background-position: center bottom;
  cursor: pointer;
}

.box.wtst {
  background-color: #546a76;
}

.box.iscore {
  background-color: #88a0a8;
}

.box.hatitude {
  background-color: #dbd3c9;
}

.box.cowork {
  background-color: #bcb4dd;
}

.box.ethereum-roulette {
  background-color: #b4ceb3;
}

.box.batalhadosbitaites {
  background-color: #ff6884;
}

.box.worldleague {
  background-color: #86c5df;
}

.box.appcexplorer {
  background-color: #abdcd6;
}

.box.appcoins {
  background-color: #ffaa48;
}

.box.dogoffleash {
  background-color: #8ed6d7;
}

.box.guiasporttv {
  background-color: #a6aaed;
}

.box.bitcoinstats {
  background-color: #c0c0c0;
}

.box_text {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 20px;
  z-index: 3;
}

.box_text h3,
.box_text p {
  color: #fff;
  font-size: 1.25rem;
}

@media (min-width: 1200px) {
  .box_text {
    padding-top: 30px;
  }
  .box_text h3 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .box {
    width: 50%;
    padding-top: 50%;
  }
  .box_text {
    padding-top: 50px;
  }
  .box_text h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 414px) {
  .box_text {
    padding-top: 20px;
  }
  .box_text h3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 320px) {
  .box_text h3 {
    font-size: 1rem;
  }
}

