.box {
  width: 25%;
  padding-top: 20%;
  float: left;
  position: relative;
  background-size: auto 70%;
  background-repeat: no-repeat;
  background-position: center bottom;
  cursor: pointer;
}

.box.wheretosurftoday {
  background-color: rgba(84, 106, 118, var(--box-opacity));
}
.no-js .box.wheretosurftoday {
  background-image: url('https://joaobordalo.com/images/static/portfolio/wheretosurftoday.png');
}

.box.iscore {
  background-color: rgba(94, 113, 120, var(--box-opacity));
}
.no-js .box.iscore {
  background-image: url('https://joaobordalo.com/images/static/portfolio/iscore.png');
}

.box.hatitude {
  background-color: rgba(120, 108, 94, var(--box-opacity));
}
.no-js .box.hatitude {
  background-image: url('https://joaobordalo.com/images/static/portfolio/hatitude.png');
}

.box.cowork {
  background-color: rgba(113, 109, 136, var(--box-opacity));
}
.no-js .box.cowork {
  background-image: url('https://joaobordalo.com/images/static/portfolio/cowork.png');
}

.box.ethereum-roulette {
  background-color: rgba(100, 115, 100, var(--box-opacity));
}
.no-js .box.ethereum-roulette {
  background-image: url('https://joaobordalo.com/images/static/portfolio/ethereum-roulette.png');
}

.box.batalhadosbitaites {
  background-color: rgba(173, 82, 98, var(--box-opacity));
}
.no-js .box.batalhadosbitaites {
  background-image: url('https://joaobordalo.com/images/static/portfolio/batalhadosbitaites.png');
}

.box.worldleague {
  background-color: rgba(82, 115, 128, var(--box-opacity));
}
.no-js .box.worldleague {
  background-image: url('https://joaobordalo.com/images/static/portfolio/worldleague.png');
}

.box.appcexplorer {
  background-color: rgba(30, 126, 100, var(--box-opacity));
}
.no-js .box.appcexplorer {
  background-image: url('https://joaobordalo.com/images/static/portfolio/appcexplorer.png');
}

.box.appcoins {
  background-color: rgba(148, 100, 46, var(--box-opacity));
}
.no-js .box.appcoins {
  background-image: url('https://joaobordalo.com/images/static/portfolio/appcoins.png');
}

.box.dogoffleash {
  background-color: rgba(80, 97, 97, var(--box-opacity));
}
.no-js .box.dogoffleash {
  background-image: url('https://joaobordalo.com/images/static/portfolio/dogoffleash.png');
}

.box.guiasporttv {
  background-color: rgba(166, 170, 237, var(--box-opacity));
}
.no-js .box.guiasporttv {
  background-image: url('https://joaobordalo.com/images/static/portfolio/guiasporttv.png');
}

.box.bitcoinstats {
  background-color: rgba(112, 112, 112, var(--box-opacity));
}
.no-js .box.bitcoinstats {
  background-image: url('https://joaobordalo.com/images/static/portfolio/bitcoinstats.png');
}

.box.chesstr {
  background-color: rgba(167, 116, 82, var(--box-opacity));
}
.no-js .box.chesstr {
  background-image: url('https://joaobordalo.com/images/static/portfolio/chesstr.png');
}

.box.nostr-utils {
  background-color: rgba(85, 85, 85, var(--box-opacity));
}
.no-js .box.nostr-utils {
  background-image: url('https://joaobordalo.com/images/static/portfolio/nostr-utils.png');
}

.box.catappult {
  background-color: rgba(122, 76, 165, var(--box-opacity));
}
.no-js .box.catappult {
  background-image: url('https://joaobordalo.com/images/static/portfolio/catappult.png');
}

.box.fuji {
  background-color: rgba(110, 61, 143, var(--box-opacity));
}
.no-js .box.fuji {
  background-image: url('https://joaobordalo.com/images/static/portfolio/fuji.png');
}

.box.tdex {
  background-color: rgba(144, 100, 100, var(--box-opacity));
}
.no-js .box.tdex {
  background-image: url('https://joaobordalo.com/images/static/portfolio/tdex.png');
}

.box_text {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 20px;
  z-index: 3;
}

.box_text h3,
.box_text p {
  color: var(--my_white);
  font-size: 1rem;
}

@media (min-width: 1200px) {
  .box_text {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .box {
    width: 50%;
    padding-top: 50%;
  }
  .box_text {
    padding-top: 50px;
  }
}

@media (max-width: 440px) {
  .box_text {
    padding-top: 20px;
  }
}
