.contact-info-block:last-child {
  margin-bottom: 30px;
}

.contact-info-block {
  position: relative;
  text-align: left;
  width: 100%;
  display: block;
  margin: 0;
  padding: 14px 10px 14px 0;
  color: var(--my-blue);
  font-size: 40px;
}

.contact-info-block .ci-icon {
  position: absolute;
  top: 50%;
  margin-top: -27px;
}

.contact-info-block .ci-text {
  position: relative;
  padding-left: 2rem;
  font-size: 1rem;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
