body.dark-theme {
  --box-opacity: 0.6;
  --blue: #629ec9;
  --purple: #a64ca6;
  --tw-gradient-stops: var(--blue), var(--purple);
}

body.dark-theme img {
  filter: brightness(0.8) contrast(1.2);
}

body.dark-theme .heading:after {
  background-image: linear-gradient(to left, var(--darkest), var(--lightgrey));
}

body.dark-theme,
body.dark-theme .footer {
  background-color: var(--dark);
}

body.dark-theme .form-control {
  background-color: var(--darkgrey);
  border-color: var(--darkgrey);
  color: #b5b5b5;
}

body.dark-theme .form-control,
body.dark-theme div.graph_container,
body.dark-theme .text_column.left img,
body.dark-theme .text_column.left .img-container {
  border: solid 1px var(--darkgrey);
}

body.dark-theme #summary table tbody tr {
  border-top: solid 1px var(--darkgrey);
}

body.dark-theme,
body.dark-theme h1,
body.dark-theme h2,
body.dark-theme h3,
body.dark-theme h4,
body.dark-theme h5,
body.dark-theme h6,
body.dark-theme p,
body.dark-theme .contact-info-block .ci-text,
body.dark-theme nav.menu-top .navRight a,
body.dark-theme nav.menu-top .navRight > span,
body.dark-theme article.post h3 a {
  color: var(--lightgrey);
}

body.dark-theme figcaption {
  font-weight: 400;
}

body.dark-theme .btn {
  color: var(--white);
  background-color: #2e2e2e;
  border-color: var(--grey);
}

body.dark-theme .btn.active,
body.dark-theme .btn:active,
body.dark-theme .btn:focus,
body.dark-theme .btn:hover {
  color: var(--lightgrey);
  background: var(--darkgrey);
}

body.dark-theme .text_column.left img,
body.dark-theme .text_column.left .img-container {
  box-shadow: 6px 6px 6px #626262;
}

body.dark-theme nav svg {
  fill: white;
}

body.dark-theme blockquote {
  background-color: var(--darkgrey);
  border-left: 5px solid #eee;
}

body.dark-theme div.metainfo p {
  color: silver;
}
