.footer {
  background-color: var(--dark);
  display: flex;
  height: 88px;
  justify-content: space-between;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}

.footer p {
  color: #ccc;
  padding: 20px 0;
  font-size: 0.875rem;
  line-height: 2;
  margin-bottom: 0;
  font-weight: 700;
}

.footer p span {
  cursor: pointer;
  color: #4da3e0;
}
