.label,
label {
  font-weight: 400;
}

.label {
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
}

label {
  display: inline-block;
  max-width: 100%;
  margin: 0 0 5px;
}

.form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 6px 12px;
  font-size: 1rem;
  line-height: 1.55;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
}

.form-control:focus {
  border-color: var(--my-blue);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(43, 144, 217, 0.6);
}

.form-group {
  margin-bottom: 20px;
}

textarea.form-control {
  height: auto;
}

.button {
  padding-top: 20px;
}

.btn {
  border: 1px solid var(--my-blue);
  border-radius: 0;
  cursor: pointer;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1em;
  line-height: 1.55;
  margin-bottom: 40px;
  padding: 6px 12px;
  text-transform: uppercase;
}

.btn-primary {
  color: var(--my-blue);
  background-color: #fff;
  border-color: var(--my-blue);
}

.btn-primary.active,
.btn-primary:active {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  background-color: #fff;
  border-color: var(--my-blue);
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background: var(--my-blue);
  color: #fff;
}

.btn-primary.active:hover {
  background-color: #fff;
  border-color: var(--my-blue);
  color: var(--my-blue);
}

.btn-block {
  display: block;
  width: 100%;
}

input[type="submit"] {
  width: 100%;
  cursor: pointer;
}

a.btn:hover,
a.btn:focus {
  text-decoration: none;
}
