.label,
label {
  font-weight: 400;
}

.label {
  text-transform: uppercase;
}

label {
  display: inline-block;
  max-width: 100%;
  margin: 0 0 5px;
}

.form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 6px 12px;
  font-size: 1rem;
  line-height: 1.55;
  border-radius: 0;
  box-shadow: none;
}

.form-control:focus {
  border-color: var(--blue);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--orange);
  outline: 0;
}

.form-group {
  margin-bottom: 20px;
}

textarea.form-control {
  height: auto;
}

textarea {
  background-color: var(--cream);
  background-image: none;
  border: 1px solid var(--grey);
}

.btn {
  background-color: var(--black);
  border: 2px solid var(--black);
  border-radius: var(--border-radius);
  color: var(--white);
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1.55;
  margin-bottom: 0;
  padding: 0.5rem 1rem;
}

.btn:disabled {
  background-color: var(--grey);
  border-color: var(--grey);
  cursor: default;
}

.btn:not(:disabled):hover {
  color: var(--black);
  background: var(--white);
}

.btn-container {
  text-align: center;
  margin: 2rem 0 0 0;
}

input {
  background-color: var(--cream);
  border: 1px solid var(--grey);
  color: var(--black);
}
input[type='submit'] {
  cursor: pointer;
}

a.btn:hover,
a.btn:focus {
  text-decoration: none;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 43%,
      var(--orange) 45%,
      var(--orange) 55%,
      rgba(0, 0, 0, 0) 57%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      var(--orange) 45%,
      var(--orange) 55%,
      transparent 57%,
      transparent 100%
    );
}
