@media (min-width: 1200px) {
  .container {
    max-width: 1020px;
  }

  h1 {
    line-height: 1.15;
    font-size: 4.375rem;
    margin: 0 0 24px;
  }

  h2 {
    font-size: 3.75rem;
    line-height: 1.2;
    margin: 0 0 40px;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.33;
    margin: 0 0 60px;
  }

  .box_text {
    padding-top: 30px;
  }

  .box_text h3 {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .text_column {
    width: 100%;
    float: none;
  }

  .text_column.left {
    padding-right: 0;
  }

  .text_column.right {
    padding-left: 0;
  }

  .box {
    width: 50%;
    padding-top: 50%;
  }

  .box_text {
    padding-top: 50px;
  }

  .box_text h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 414px) {
  .box_text {
    padding-top: 20px;
  }

  .box_text h3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 320px) {
  .box_text h3 {
    font-size: 1rem;
  }
}
