@media (min-width: 1200px) {
  .container {
    max-width: 1020px;
  }

  h1 {
    line-height: 84px;
    font-size: 70px;
    margin: 0 0 24px;
  }

  h2 {
    font-size: 60px;
    line-height: 72px;
    margin: 0 0 40px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 60px;
  }

  .timeline > li {
    min-height: 170px;
  }

  .box_text {
    padding-top: 30px;
  }

  .box_text h3 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .text_column {
    width: 100%;
    float: none;
  }

  .text_column.left {
    padding-right: 0;
  }

  .text_column.right {
    padding-left: 0;
  }

  .box {
    width: 50%;
    padding-top: 50%;
  }

  .box_text {
    padding-top: 50px;
  }

  .box_text h3 {
    font-size: 24px;
  }

  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 35px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #eee;
  }

  .timeline > li .timeline-image {
    left: 0;
    width: 70px;
    height: 70px;
    margin-left: 0;
  }

  .timeline > li .timeline-image h3 {
    margin-top: 15px;
    font-size: 12px;
  }

  .timeline > li .timeline-panel {
    float: right;
    width: 100%;
    text-align: left;
    padding-top: 0;
    padding-left: 100px;
  }

  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 0 100px;
  }
}

@media (max-width: 414px) {
  .box_text {
    padding-top: 20px;
  }

  .box_text h3 {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .box_text h3 {
    font-size: 16px;
  }
}
