pre {
  background-color: var(--white);
  margin: 0 0 24px;
}

figcaption {
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.fa-external-link:before {
  content: '\f08e';
}

.fa-info-circle:before {
  content: '\f05a';
}

.text_column.left img,
.text_column.left .img-container {
  opacity: 1;
  height: auto;
  width: 100%;
  box-shadow: 6px 6px 6px var(--grey);
  transition: opacity 0.3s;
  border: 1px solid var(--grey);
}

.project .columns {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3rem;
}

.project .columns div {
  margin-bottom: 2rem;
}

.project .columns p {
  line-height: 1.2;
  margin-bottom: 0.3rem;
}

.project .columns p span {
  color: var(--egg);
  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
}

.project .text_column.right p {
  line-height: 1;
  margin-bottom: 0.7rem;
}

.project .text_column.right p span {
  color: var(--egg);
  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
}

.fullstory {
  background-color: var(--cream);
}

.fullstory .container {
  margin-bottom: 1rem;
}

.project img,
.fullstory img,
.fullstory .img-container {
  opacity: 1;
  height: auto;
  width: 100%;
  box-shadow: 6px 6px 6px var(--grey);
  transition: opacity 0.3s;
  border: 1px solid var(--grey);
}

@media (min-width: 1200px) {
  .project .columns p {
    margin-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  .project .columns {
    grid-template-columns: 1fr;
  }
}
