pre {
  background-color: var(--white);
  margin: 0 0 24px;
}

figcaption {
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.fa-external-link:before {
  content: '\f08e';
}

.fa-info-circle:before {
  content: '\f05a';
}

.text_column.left img,
.text_column.left .img-container {
  opacity: 1;
  height: auto;
  width: 100%;
  transition: opacity 0.3s;
}

.project .columns {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 2fr 1fr;
  margin: 3rem 0;
}

.project .columns div {
  margin-bottom: 2rem;
}

.project .columns p {
  font-size: 14px;
  margin: 0.5rem 0;
}

.project .columns h2:not(:first-child) {
  margin-top: 2rem;
}

.project .columns p span {
  font-weight: 600;
}

.project .text_column.right p {
  line-height: 1;
  margin-bottom: 0.7rem;
}

.fullstory {
  background-color: var(--cream);
}

.fullstory .container {
  margin-bottom: 1rem;
}

.project img,
.fullstory img,
.fullstory .img-container {
  opacity: 1;
  width: 100%;
  height: auto;
  transition: opacity 0.5s;
  @starting-style {
    opacity: 0; /* State when element first loads */
  }
}

@media (max-width: 767px) {
  .project .columns {
    grid-template-columns: 1fr;
  }
}

table {
  border-color: var(--my_brown);
  border-collapse: collapse;
  font-size: 12px;
  margin: 1rem 0;
  width: 100%;
}
