.fa-check-circle-o:before {
  content: '\f05d';
}
.fa-check-square-o:before {
  content: '\f046';
}
.fa-external-link:before {
  content: '\f08e';
}
.fa-info-circle:before {
  content: '\f05a';
}
.fa-times-circle-o:before {
  content: '\f05c';
}

figcaption {
  font-weight: 300;
}

.portfolio .text_column.left {
  padding-bottom: 2em;
}

.text_column.left img {
  opacity: 1;
  height: auto;
  width: 100%;
  box-shadow: 6px 6px 6px #ddd;
  transition: opacity 0.3s;
  border: 1px solid #ddd;
}

pre {
  background-color: #e6e6e6;
  margin: 0 0 24px;
}

span.skill {
  font-weight: 700;
}

span.skill {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #757575;
  font-size: 0.875rem;
}

.text_column.left figure img {
  padding-bottom: 0;
}

figcaption {
  font-size: 0.75rem;
  font-style: italic;
  text-align: center;
}

section.grey {
  background-color: #f6f6f6;
  padding-bottom: 90px;
}

.technical-info-block {
  position: relative;
  text-align: left;
  width: 100%;
  display: block;
  margin: 0;
  padding: 9px 0;
}

.technical-info-block .ti-icon {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  font-size: 2.5rem;
  color: #4b3782;
}

.technical-info-block .ti-icon img {
  width: 40px;
  height: 40px;
}

.technical-info-block .ti-text {
  position: relative;
  padding-left: 60px;
}
