pre {
  background-color: var(--lightgrey);
  margin: 0 0 24px;
}

figcaption {
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.fa-external-link:before {
  content: '\f08e';
}

.project .text_column.left img,
.project .text_column.left .img-container {
  opacity: 1;
  height: auto;
  width: 100%;
  box-shadow: 6px 6px 6px #ddd;
  transition: opacity 0.3s;
  border: 1px solid #ddd;
}

.project .text_column.right p {
  line-height: 1;
}

.project .text_column.right p span {
  color: var(--grey);
  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
}
