#stations_list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(8, 1fr);
  margin-bottom: 2rem;
}

@media(max-width: 767px) {
  #stations_list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.station {
  background-color: var(--lightgrey);
  border: 1px solid var(--grey);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 4px;
  width: 100%;
}

.station:hover {
  background-color: var(--grey);
}

.station p {
  font-size: 0.72rem;
  margin: 0;
  text-align: center;
}

.station img {
  max-width: 60px;
}