article,
blockquote,
body,
code,
div,
em,
figcaption,
figure,
footer,
form {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
}

li,
nav,
object,
ol,
span,
strike,
strong,
sup,
table,
tbody {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
}

td,
tfoot,
th,
thead,
time,
tr,
ul,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
}

a,
label,
p,
pre,
section {
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

label,
p,
pre {
  padding: 0;
  outline: 0;
}

a,
section {
  margin: 0;
}

a {
  padding: 0;
}

section {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}
