.skills-container {
  --border: var(--grey);
  --drop-x: 144.26004791259766px;
  --drop-y: 49.833282470703125px;
  --main: var(--lightgrey);
  --main-60: var(--lightgrey-transparent);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

@media(max-width: 767px) {
  .skills-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 440px) {
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.dark-theme .skills-container {
  --main: var(--darkgrey);
  --main-60: var(--darkgrey-transparent);
}

.skills-container > div {
  background-color: white;
  border-radius: var(--border-radius);
}

.skills-container div div {
  background: linear-gradient(90deg,var(--main) 0%,var(--main) 60%,var(--main-60) 100%), no-repeat right 40% / 40% var(--bg-img);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  padding: 15px;
  transition-duration: 0.2s;
}

.skills-container p {
  margin: 0
}