.technical-info-block {
  position: relative;
  text-align: left;
  width: 100%;
  display: block;
  margin: 0;
  padding: 9px 0;
}

.technical-info-block .ti-icon {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  font-size: 40px;
  color: #4b3782;
}

.technical-info-block .ti-icon img {
  width: 40px;
  height: 40px;
}

.technical-info-block .ti-text {
  position: relative;
  padding-left: 60px;
}