/* http://meyerweb.com/eric/tools/css/reset/*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,
section,summary,time,mark,audio,video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}
body {line-height:1;}
ol,ul {list-style:none;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:’’;content:none;}
ins {text-decoration:none;}
del {text-decoration:line-through;}
table {border-collapse:collapse;border-spacing:0;}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
}
.fonts-loaded body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: normal;
}
a {
  color: #1f75b2;
  outline: none;
  text-decoration: none;
}
a:hover, a:focus {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
  color: #000;
}
h1 { font-size: 40px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; margin-bottom: 60px; }
p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px 0;
}
p.lead {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 40px;
}
p.url {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 30px;
  color: #ccc;
}
strong { font-weight:700; }
img {
  opacity: 1;
  transition: opacity 0.3s;
  width: 100%;
}
div.cams img {
  margin: 3%;
  width: 94%;
  background: url('https://cdn.joaobordalo.com/images/static/traffic/placeholder.png') no-repeat scroll 0 0;
}
section { padding: 60px 0; }
nav p {
  font-size: 16px;
  line-height: 20px;
}
nav.menu-top p a {
  vertical-align: middle;
  color: #000;
}
nav .menu-option {
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
}
nav .menu-option.right { text-align: right;}
nav img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 820px;
  padding: 10px;
}
.text_column {
  width:50%;
  float:left;
  position: relative;
  min-height: 1px;
}
.heading {
  text-align: left;
  margin-bottom: 40px;
}
.heading:after {
  content: " ";
  display: block;
  width: 100px;
  height: 2px;
  margin: 20px 0 20px;
  background: #2b90d9;
}
.footer { background: #282c37; }
.footer p {
  background: #282c37;
  color: #ccc;
  padding: 20px 0;
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
}
.footer_copyright {
  width: 50%;
  float: left;
}
.footer_back_to_top {
  width: 50%;
  float: left;
}
.footer_back_to_top p {
  text-align: right;
}
.footer_back_to_top p a {
  cursor: pointer;
  color: #3c9add;
}
div#incidents {
  padding-bottom: 60px;
  height: auto;
  overflow: auto;
}
div#incidents div {
  width: 100%;
  margin-bottom: 10px;
}
div#incidents div div {
  background-color: #ea9a27;
  width: calc(100% - 3em);
  display: table;
  float: right;
  height: 4em;
}
div#incidents div div:first-child {
  background-color: #9b681c;
  float: left;
  width: 3em;
}
div#incidents div div p {
  display: table-cell;
  vertical-align: middle;
  padding: 0 1em;
}
div#incidents div div i {
  padding: 1em 0;
  color: white;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1020px;
  }
  h1 {
    font-size: 60px;
    line-height: 72px;
    margin: 0 0 24px 0;
  }
  h2 {
    font-size: 40px;
    line-height: 50px;
    margin: 0 0 40px 0;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 60px 0;
  }
}
@media (max-width: 768px) {
  .text_column {
    width: 100%;
    float: none;
    padding: 0;
  }
  div#incidents div div {
    height: 6em;
  }
  .text_column.left, .text_column.right { padding: 0; }
}