div.cams {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10px;
  row-gap: 10px;
}
div.cams img {
  margin: 0;
  width: 100%;
  background: url('https://cdn.joaobordalo.com/images/static/traffic/placeholder.png') no-repeat scroll 0 0;
}
div#incidents {
  padding-bottom: 60px;
  height: auto;
  overflow: auto;
}
div#incidents div {
  width: 100%;
  margin-bottom: 10px;
}
div#incidents div div {
  background-color: #ea9a27;
  width: calc(100% - 3em);
  display: table;
  float: right;
  height: 4em;
}
div#incidents div div:first-child {
  background-color: #9b681c;
  float: left;
  width: 3em;
}
div#incidents div div p {
  display: table-cell;
  vertical-align: middle;
  padding: 0 1em;
}
div#incidents div div i {
  padding: 1em 0;
  color: white;
}
@media (max-width: 767px) {
  div.cams {
    grid-template-columns: 100%;
  }
}
