---
layout: blog
---

<div class="container">
  <a href="/blog">
    <h1 class="heading">
      <span>Blog</span>
    </h1>
  </a>
</div>
<div></div>
{% for post in paginator.posts %} {% assign mod = forloop.index | modulo: 2 %}
<section>
  <div class="container">
    <article class="post">
      {% assign foo = post %} {% include html/post/header.html %}
      <div class="content">{{ post.excerpt }}</div>
      {% if post.extended %}
      <a href="{{ post.url }}">Read more...</a>
      {% endif %}
    </article>
  </div>
</section>
{% endfor %}
<section>
  <div class="container">
    <!-- Pagination links -->
    <div class="pagination">
      <p>
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}">&laquo; Previous</a>
        {% endif %}
      </p>
      <p>Page: {{ paginator.page }} of {{ paginator.total_pages }}</p>
      <p>
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next &raquo;</a>
        {% endif %}
      </p>
    </div>
  </div>
</section>
