---
layout: blog
description: João Bordalo's Blog
---

<div class="container">
  <h1>Blog</h1>
  <section class="posts-list">
    {% for post in paginator.posts %}
      {% assign mod = forloop.index | modulo: 2 %}
      <article class="post">
        {% assign foo = post %} {% include html/post/header.html %}
        <div class="content">{{ post.excerpt }}</div>
        {% if post.extended %}
          <a href="{{ post.url }}">Read more...</a>
        {% endif %}
      </article>
    {% endfor %}
  </section>
</div>
<!-- Pagination links -->
<div class="container pagination">
  {% if paginator.previous_page %}
    <p class="shadow">
      <a href="{{ paginator.previous_page_path }}">
        &laquo; Newer
      </a>
    </p>
  {% else %}
    <p></p>
  {% endif %}
  <p style="color: var(--zinc)">Page: {{ paginator.page }} of {{ paginator.total_pages }}</p>
  {% if paginator.next_page %}
    <p class="shadow">
      <a href="{{ paginator.next_page_path }}" class="next">Older &raquo;</a>
    </p>
  {% else %}
    <p></p>
  {% endif %}
</div>
<style>
  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  .pagination p {
    margin: 0;
    min-width: 4rem;
  }
</style>