---
title: COVID-19
layout: inner
description: COVID-19 graphs
---
<style>
  {% include css/covid.css %}
</style>

<div class="container">
  <section id="covid" class="fluid-column">
    <h2 class="heading">Covid</h2>
    <!--
    <p class="warning">
      Devido a alterações no relatório por parte da DGS, de momento não é possível actualizar os dados.<br />
      Enquanto o problema não for resolvido, os últimos dados existentes são de 16 de Agosto de 2020.<br />
      Mais informações na <a href="https://twitter.com/dssgpt/status/1295396789407940613?s=09">página do Twitter da Data Science for Social Good Portugal</a>.
    </p>
    -->
    <p id="lastUpdate"></p>
    <p id="summary"></p>
    <p id="loading"></p>
    <p id="toc"></p>
    <div id="content_container" class="fluid-column"></div>
    <div id="Fontes">
      <h2 class="section_divider">Fontes</h2>
      <p>
        &middot; Covidcountdown: <a href="https://covidcountdown.today/">Gráfico Rt</a><br />
        &middot; DSSG Portugal: <a href="https://github.com/dssg-pt/covid19pt-data/blob/master/amostras.csv">Dados DGS, Amostras</a><br />
        &middot; EVM Min. Saúde: <a href="https://evm.min-saude.pt/">Mortalidade</a><br />
        &middot; IEFP: <a href="https://www.iefp.pt/estatisticas">Desemprego</a><br />
        &middot; INE</a>: <a href="https://www.ine.pt/xportal/xmain?xpid=INE&xpgid=ine_indicadores&contecto=pi&indOcorrCod=0007970&selTab=tab0">Emprego</a> - <a href="https://www.ine.pt/xportal/xmain?xpid=INE&xpgid=ine_indicadores&contecto=pi&indOcorrCod=0009884&selTab=tab0">PIB</a><br />
        &middot; Our World in Data: <a href="https://github.com/owid/covid-19-data/blob/master/public/data/vaccinations/country_data/Portugal.csv">Vacinas</a><br />
        &middot; Pordata: <a href="https://www.pordata.pt/Municipios/Densidade+populacional-452">Hab/Km2</a> - <a href="https://www.pordata.pt/Portugal/Popula%c3%a7%c3%a3o+residente++m%c3%a9dia+anual+total+e+por+grupo+et%c3%a1rio-10-1127">População por faixa etária</a><br />
        &middot; Vost.pt: <a href="https://covid19-api.vost.pt">Dados DGS</a><br />
      </p>
    </div>
  </section>
</div>

<script src="https://cdn.joaobordalo.com/js/highcharts-8.2.2.js"></script>
<script>
  {% include js/covid.js %}
</script>
