---
title: Appcoins
layout: main
description: JB portfolio - Appcoins
og_image: https://joaobordalo.com/images/static/portfolio/appcoins_r.png
portfolio:
  previous:
    name: APPC Explorer
    link: appcexplorer.html
  next:
    name: Batalha dos bitaites
    link: batalhadosbitaites.html
---

<style>
  {% include css/box.css %}
  {% include css/project.css %}
  .technical-info-block .ti-icon {
    color: #ffaa48;
  }
</style>

<section>
  <div class="container">
    <h1 class="heading">
      <span>Appcoins</span>
    </h1>
    <h2 class="lead">The New Standard for In-App Purchases & More</h2>
    <p>
      <strong>Status:</strong>
      Live<br />
      <strong>Client:</strong>
      Aptoide<br />
    </p>
    <p>
      <i class="fa fa-external-link"></i>
      <a href="https://appcoins.io">https://appcoins.io</a>
    </p>
    <div class="text_column left">
      <a href="https://appcoins.io?ref=picture">
        <picture>
          <source
            srcset="{{ site.cdn_url }}/portfolio/appcoins_r.webp"
            type="image/webp" />
          <source
            srcset="{{ site.cdn_url }}/portfolio/appcoins_r.png"
            type="image/png" />
          <source
            srcset="{{ site.cdn_url }}/portfolio/appcoins_r.avif"
            type="image/avif" />
          <img
            width="480"
            height="360"
            src="{{ site.cdn_url }}/portfolio/appcoins_r.png"
            alt="appcoins.io website screenshot" />
        </picture>
      </a>
    </div>
    <div class="text_column right">
      <div class="technical-info-block">
        <div class="ti-icon">
          <i class="fa fa-check-circle-o"></i>
        </div>
        <div class="ti-text">
          <span class="skill">DevOps</span><br />
          EC2, Nginx
        </div>
      </div>
      <div class="technical-info-block">
        <div class="ti-icon">
          <i class="fa fa-times-circle-o"></i>
        </div>
        <div class="ti-text">
          <span class="skill">Database</span><br />
          External webservices
        </div>
      </div>
      <div class="technical-info-block">
        <div class="ti-icon">
          <i class="fa fa-check-circle-o"></i>
        </div>
        <div class="ti-text">
          <span class="skill">Business logic</span><br />
          Product presentation
        </div>
      </div>
      <div class="technical-info-block">
        <div class="ti-icon">
          <i class="fa fa-check-circle-o"></i>
        </div>
        <div class="ti-text">
          <span class="skill">API Layer / MVC</span><br />
          Angular 6
        </div>
      </div>
      <div class="technical-info-block">
        <div class="ti-icon">
          <i class="fa fa-check-circle-o"></i>
        </div>
        <div class="ti-text">
          <span class="skill">Design / UI</span><br />
          Aptoide team, Bootstrap CSS
        </div>
      </div>
    </div>
  </div>
  <div style="clear: both"></div>
</section>

<div class="container">{% include html/portfolio/navigation.html %}</div>
