---
title: Bitcoin stats
layout: main
description: JB portfolio - Bitcoin stats
og_image: https://cdn.joaobordalo.com/images/static/portfolio/bitcoinstats_r.png
---

<style>
  {% include css/box.css %}
  {% include css/project.css %}
  .technical-info-block .ti-icon { color: #c0c0c0; }
</style>

<section>
  <h1 class="heading">Bitcoin stats</h1>
  <h2 class="lead">
    Fork from
    <a href="https://github.com/findbl0k/bitcoinUptime"
      >https://github.com/findbl0k/bitcoinUptime</a
    >
  </h2>
  <p>
    <strong>Status:</strong> Live<br />
    <strong>Client:</strong> Personal project<br />
  </p>
  <p>
    <i class="fa fa-external-link"></i>
    <a href="https://bitcoinstats.pages.dev">https://bitcoinstats.pages.dev</a>
  </p>
  <div class="text_column left">
    <a href="https://bitcoinstats.pages.dev?ref=picture">
      <picture>
        <source
          srcset="{{ site.cdn_url }}/portfolio/bitcoinstats_r.webp"
          type="image/webp"
        />
        <source
          srcset="{{ site.cdn_url }}/portfolio/bitcoinstats_r.png"
          type="image/png"
        />
        <source
          srcset="{{ site.cdn_url }}/portfolio/bitcoinstats_r.avif"
          type="image/avif"
        />
        <img
          width="480"
          height="360"
          src="{{ site.cdn_url }}/portfolio/bitcoinstats_r.png"
          alt="joaobordalo.com/labs/bitcoinstats website screenshot"
        />
      </picture>
    </a>
  </div>
  <div class="text_column right">
    <div class="technical-info-block">
      <div class="ti-icon"><i class="fa fa-check-circle-o"></i></div>
      <div class="ti-text">
        <span class="skill">DevOps</span><br />
        Cloudflare Pages
      </div>
    </div>
    <div class="technical-info-block">
      <div class="ti-icon"><i class="fa fa-times-circle-o"></i></div>
      <div class="ti-text">
        <span class="skill">Database</span><br />
        None
      </div>
    </div>
    <div class="technical-info-block">
      <div class="ti-icon"><i class="fa fa-check-circle-o"></i></div>
      <div class="ti-text">
        <span class="skill">Business logic</span><br />
        Bitcoin statistics
      </div>
    </div>
    <div class="technical-info-block">
      <div class="ti-icon"><i class="fa fa-check-circle-o"></i></div>
      <div class="ti-text">
        <span class="skill">API Layer / MVC</span><br />
        Static website with vanilla javascript
      </div>
    </div>
    <div class="technical-info-block">
      <div class="ti-icon"><i class="fa fa-check-circle-o"></i></div>
      <div class="ti-text">
        <span class="skill">Design / UI</span><br />
        Bulma CSS
      </div>
    </div>
  </div>
  <div style="clear: both"></div>
</section>

<nav class="menu-bottom" style="padding-bottom: 90px">
  <div class="project left">
    <p>
      <strong>&laquo; Previous project</strong><br />
      <a href="dogoffleash.html">Dog Off Leash</a>
    </p>
  </div>
  <div class="project right">
    <p>
      <strong>Next project &raquo;</strong><br />
      <a href="chesstr.html">Chesstr</a>
    </p>
  </div>
  <div style="clear: both"></div>
</nav>
