---
title: Ethereum roulette
layout: main
description: JB portfolio - Ethereum roulette, European roulette PoC deployed to the ropsten network
og_image: https://joaobordalo.com/images/static/portfolio/ethereum-roulette_r.png
portfolio:
  previous:
    name: Dog off leash
    link: dogoffleash.html
  next:
    name: Guia SportTV
    link: guiasporttv.html
---

<style>
  {% include css/box.css %}
  {% include css/project.css %}
  .technical-info-block .ti-icon {
    color: #117922;
  }
</style>

<section>
  <div class="container">
    <h1 class="heading">
      <span>Ethereum roulette</span>
    </h1>
    <h2 class="lead">European roulette PoC deployed to the ropsten network</h2>
    <p>
      <strong>Status:</strong>
      Live<br />
      <strong>Client:</strong>
      Personal project<br />
    </p>
    <p>
      <i class="fa fa-external-link"></i>
      <a href="http://ethroulette.ga">http://ethroulette.ga</a><br />
      <i class="fa fa-github"></i>
      <a href="https://github.com/bordalix/ethereum-roulette">https://github.com/bordalix/ethereum-roulette</a>
    </p>
    <div class="text_column left">
      <a href="http://ethereum-roulette.ga?ref=picture">
        <picture>
          <source srcset="{{ site.cdn_url }}/portfolio/ethereum-roulette_r.webp" type="image/webp" />
          <source srcset="{{ site.cdn_url }}/portfolio/ethereum-roulette_r.png" type="image/png" />
          <source srcset="{{ site.cdn_url }}/portfolio/ethereum-roulette_r.avif" type="image/avif" />
          <img
            width="480"
            height="360"
            src="{{ site.cdn_url }}/portfolio/ethereum-roulette_r.png"
            alt="Ethereum roulette screenshot" />
        </picture>
      </a>
    </div>
    <div class="text_column right">
      <div class="technical-info-block">
        <div class="ti-icon">
          <i class="fa fa-check-circle-o"></i>
        </div>
        <div class="ti-text">
          <span class="skill">DevOps</span><br />
          Nginx, AWS
        </div>
      </div>
      <div class="technical-info-block">
        <div class="ti-icon">
          <i class="fa fa-check-circle-o"></i>
        </div>
        <div class="ti-text">
          <span class="skill">Database</span><br />
          Ethereum blockchain
        </div>
      </div>
      <div class="technical-info-block">
        <div class="ti-icon">
          <i class="fa fa-check-circle-o"></i>
        </div>
        <div class="ti-text">
          <span class="skill">Business logic</span><br />
          Ethereum smart contract
        </div>
      </div>
      <div class="technical-info-block">
        <div class="ti-icon">
          <i class="fa fa-check-circle-o"></i>
        </div>
        <div class="ti-text">
          <span class="skill">API Layer / MVC</span><br />
          Metamask, web3js
        </div>
      </div>
      <div class="technical-info-block">
        <div class="ti-icon">
          <i class="fa fa-check-circle-o"></i>
        </div>
        <div class="ti-text">
          <span class="skill">Design / UI</span><br />
          Bootstrap
        </div>
      </div>
    </div>
  </div>
  <div style="clear: both"></div>
</section>

<div class="container">{% include html/portfolio/navigation.html %}</div>

<section>
  <div class="container">
    <h3 class="lead">Full story</h3>
    <div class="text_column left">
      <p>
        <strong>Motivation</strong>
      </p>
      <p>
        I decided to learn more about developing smart contracts, and since I learn by building stuff, so I decided to
        implement a casino roulette, with the business logic being implemented in Solidity, the language of choice to
        develop smart contracts in the Ethereum blockchain.
      </p>
      <p>
        The frontend is a regular html page, with the web3 javascript library, which makes it possible to interact with
        the Ethereum blockchain via javascript. The web3 library is injected in the page by the Chrome extension
        Metamask.
      </p>
      <p>
        <strong>How to play</strong>
      </p>
      <p>
        You’ll need to have the
        <a href="https://metamask.io/">Metamask</a>
        Chrome extension installed, have an account on the ropsten network, have some ether and
        <a href="http://ethereum-roulette.ga">access the dapp</a>
      </p>
      <p>
        Every bet has a fixed amount of 0.01 ether (around €6) and you can bet by clicking on the board. The roulette
        just accepts a bet when has sufficient funds to pay for it and every other active bet.
      </p>
      <p>Different people can be playing at the same time.</p>
      <p>
        One of the players will click the “Spin Wheel” button, which will generate a random number and all bets will be
        dealt with accordingly.
      </p>
      <p>
        When a player wins a bet, the payout is credited on his personal account. The player can, at any moment, click
        the “Cash out” button and receive their winnings.
      </p>
    </div>
    <div class="text_column right">
      <p>
        <strong>What you’ll need</strong>
      </p>
      <ul>
        <li>
          Ganache: you can download a self-contained prebuilt Ganache binary for your platform of choice using the
          "Download" button on the
          <a href="http://truffleframework.com/ganache/">Ganache website</a>. After, run it and keep it running, this
          will deploy a private Ethereum network on your machine, port 7545
        </li>
        <li>
          npm: follow
          <a href="https://www.npmjs.com/get-npm">this instructions</a>
          to install npm
        </li>
        <li>
          <a href="https://metamask.io/">Metamask</a>
          Chrome extension installed and running
        </li>
      </ul>
      <p>
        <strong>How to lunch the ethereum roulette on your machine</strong>
      </p>
      <p>Run Ganache and keep it running.</p>
      <p>Clone the repo from github:</p>
      <pre>
        <code>
  git clone https://github.com/bordalix/ethereum-roulette.git
  cd ethereum-roulette
  npm install</code>
      </pre>
      <p>Deploy the contract to your private blockchain:</p>
      <pre>
        <code>
  truffle deploy --reset</code>
      </pre>
      <p>Run the webserver</p>
      <pre>
        <code>
  npm run dev</code>
      </pre>
      <p>
        You now have the ethereum roulette on
        <a href="http://localhost:3000">http://localhost:3000</a>.
      </p>
      <p>Have fun.</p>
    </div>
  </div>
  <div style="clear: both"></div>
</section>
