---
title: Guia Sporttv
layout: main
description: JB portfolio - Guia Sporttv
og_image: https://joaobordalo.com/images/static/portfolio/guiasporttv_r.png
portfolio:
  previous:
    name: Ethereum roulette
    link: ethereum-roulette.html
  next:
    name: Hatitude
    link: hatitude.html
---

<style>
  {% include css/box.css %}
  {% include css/project.css %}
  .technical-info-block .ti-icon {
    color: #a6aaed;
  }
</style>

<section>
  <div class="container">
    <h1 class="heading">
      <span>Guia Sporttv</span>
    </h1>
    <h2 class="lead">Light and fast tv guide for Sporttv</h2>
    <p>
      <strong>Status:</strong>
      Live<br />
      <strong>Client:</strong>
      Personal project<br />
    </p>
    <p>
      <i class="fa fa-external-link"></i>
      <a href="https://guiasporttv.ga">https://guiasporttv.ga</a>
    </p>
    <div class="text_column left">
      <a href="https://guiasporttv.ga?ref=picture">
        <picture>
          <source
            srcset="{{ site.cdn_url }}/portfolio/guiasporttv_r.webp"
            type="image/webp" />
          <source
            srcset="{{ site.cdn_url }}/portfolio/guiasporttv_r.png"
            type="image/png" />
          <source
            srcset="{{ site.cdn_url }}/portfolio/guiasporttv_r.avif"
            type="image/avif" />
          <img
            width="480"
            height="360"
            src="{{ site.cdn_url }}/portfolio/guiasporttv_r.png"
            alt="guiasporttv.ga website screenshot" />
        </picture>
      </a>
    </div>
    <div class="text_column right">
      <div class="technical-info-block">
        <div class="ti-icon">
          <i class="fa fa-check-circle-o"></i>
        </div>
        <div class="ti-text">
          <span class="skill">DevOps</span><br />
          EC2, Nginx
        </div>
      </div>
      <div class="technical-info-block">
        <div class="ti-icon">
          <i class="fa fa-times-circle-o"></i>
        </div>
        <div class="ti-text">
          <span class="skill">Database</span><br />
          Sporttv API services
        </div>
      </div>
      <div class="technical-info-block">
        <div class="ti-icon">
          <i class="fa fa-check-circle-o"></i>
        </div>
        <div class="ti-text">
          <span class="skill">Business logic</span><br />
          Personal hack
        </div>
      </div>
      <div class="technical-info-block">
        <div class="ti-icon">
          <i class="fa fa-check-circle-o"></i>
        </div>
        <div class="ti-text">
          <span class="skill">API Layer / MVC</span><br />
          Static website with vanilla javascript
        </div>
      </div>
      <div class="technical-info-block">
        <div class="ti-icon">
          <i class="fa fa-check-circle-o"></i>
        </div>
        <div class="ti-text">
          <span class="skill">Design / UI</span><br />
          Almost none
        </div>
      </div>
    </div>
  </div>
  <div style="clear: both"></div>
</section>

<div class="container">{% include html/portfolio/navigation.html %}</div>
