---
title: iScore
layout: main
category: portfolio
description: iScore, you don't bet, but you pick on football games and win prizes.
og_image: https://joaobordalo.com/images/static/portfolio/iscore_r.png
portfolio:
  previous:
    name: Hatitude
    link: hatitude.html
  next:
    name: Nostr utils
    link: nostr-utils.html
project:
  description: You don't bet, but you pick on football games and win prizes.
  status: Defunct
  client: Personal project
  image: iscore_r
  link: https://www.youtube.com/watch?v=U6nbrzGZQCk
  link_desc: YouTube video
techsheet:
  devops: EC2, S3, Nginx
  datalayer: MongoDB
  purpose: Sport tip competition
  framework: MeteorJS, Sportradar API, Ruby scripts
  design: Bulma CSS
---

{% include html/portfolio/project.html %}

<div class="fullstory">
  <div class="container">
    <h2>Full story</h2>
    <p>
      Online betting is getting hot, a lot. You can bet on casinos, sports and even fantasy. You can bet with money, 
      with credits, or be part of a fantasy league. Placard, the new betting game by the portuguese lottery is a huge
      success. New laws and operation licences are being drafted in Portugal, and in the summer there will be dozens of
      new players on the market. Did I say it's getting hot?
    </p>
    <p>
      iScore is a website I’m developing, which is now in pre-release mode, where you don’t bet (so kids can play it), 
      you pick. There are football games (Portuguese League and Uefa Champions League for now), where you can have 3
      picks:
    </p>
    <ul>
      <li>pick the winner;</li>
      <li>pick the number of goals scored;</li>
      <li>and pick if one, all or none of the teams score.</li>
    </ul>
    <p>For each pick you have 3 options, so it’s a very simple game.</p>
    <p>
      After a game is closed, and its result known, the odds for the game are calculated and each player earns points if 
      he got it right. There are competitions based on the week classification, month and season, some badges, the
      hattricks ranking (when a player gets all 3 picks right), and classifications for people with more opinions, likes
      and reach. Yes, being social is also prized here.
    </p>
    <p>
      Targeting beginners, there are a lot of contextual help across the site, explaining the principles of the game, 
      and teaching some betting concepts (like, for instance, how odds are calculated). People don’t have to manage
      credits, or decide how much they want to bet in a game. They just pick.
    </p>
    <p>
      People can gather in groups, and create private leagues, where the classifications (and other scores) are 
      calculated considering only the members of the group. This is great for groups of friends and family to finally
      know who knows best about football.
    </p>
    {% include html/portfolio/navigation.html %}
  </div>
</div>