---
title: IPTV channels
layout: main
description: IPTV channels
---

<style>
  {% include css/tv.css %}
</style>
<section id="main">
  <div class="container">
    <h1 class="heading"><span class="gradient">IPTV channels</span></h1>
    <h2 class="lead">Only public and legal streams in m3u format</h2>
    <p>Via <a href="https://m3upt.com/">https://m3upt.com/</a></p>
    <template id="channel_template">
      <div class="channel">
        <p><img alt="channel logo" /></p>
        <p><span></span></p>
      </div>
    </template>
    <div id="channels_list"></div>
  </div>
</section>
<script>
  {% include js/tv.js %}
</script>
