---
title: Labs
layout: main
---

<style>
  {% include css/box.css %}
  {% include css/project.css %}
</style>

<section>
  <h1 class="heading">Labs</h1>
  <h2 class="lead">My private batcave</h2>
</section>

<section class="grey container-fluid">
  <div class="container">
    <h3 class="lead">Bitcoin stats</h3>
    <div class="text_column left">
      <a href="https://joaobordalo.com/labs/bitcoinstats">
        <picture>
          <source
            srcset="{{ site.cdn_url }}/portfolio/bitcoinstats_r.webp"
            type="image/webp"
          />
          <source
            srcset="{{ site.cdn_url }}/portfolio/bitcoinstats_r.png"
            type="image/png"
          />
          <source
            srcset="{{ site.cdn_url }}/portfolio/bitcoinstats_r.avif"
            type="image/avif"
          />
          <img
            width="480"
            height="360"
            src="{{ site.cdn_url }}/portfolio/bitcoinstats_r.png"
            alt="ethereum roulette"
          />
        </picture>
      </a>
    </div>
    <div class="text_column right">
      <p>A Bitcoin dashboard</p>
      <p>Made with vanilla JS and CSS, site updates on second '00'.</p>
      <p>
        <i class="fa fa-info-circle"></i>
        <a href="/portfolio/bitcoinstats.html">Read more about this project</a>
      </p>
      <p>
        <i class="fa fa-external-link"></i>
        <a href="https://joaobordalo.com/labs/bitcoinstats"
          >https://joaobordalo.com/labs/bitcoinstats</a
        >
      </p>
      <p>
        <i class="fa fa-github"></i>
        <a href="https://github.com/bordalix/bitcoinstats"
          >https://github.com/bordalix/bitcoinstats</a
        >
      </p>
    </div>
  </div>
  <div style="clear: both"></div>
</section>

<section>
  <h3 class="lead">Ethereum roulette</h3>
  <div class="text_column left">
    <a href="ethereum-roulette.html?ref=picture">
      <picture>
        <source
          srcset="
            {{ site.cdn_url }}/portfolio/ethroulette_r.webp
          "
          type="image/webp"
        />
        <source
          srcset="
            {{ site.cdn_url }}/portfolio/ethroulette_r.png
          "
          type="image/png"
        />
        <source
          srcset="
            {{ site.cdn_url }}/portfolio/ethroulette_r.avif
          "
          type="image/avif"
        />
        <img
          width="480"
          height="360"
          src="{{ site.cdn_url }}/portfolio/ethroulette_r.png"
          alt="ethereum roulette"
        />
      </picture>
    </a>
  </div>
  <div class="text_column right">
    <p>
      A Proof of Concept casino roulette, powered by an Ethereum smart contract,
      deployed on the ropsten network.
    </p>
    <p>
      I decided to learn more about developing smart contracts, and since I
      learn by building stuff, I decided to implement a casino roulette, with
      the business logic being implemented in Solidity, the language of choice
      to develop smart contracts in the Ethereum blockchain.
    </p>
    <p>
      <i class="fa fa-info-circle"></i>
      <a href="/portfolio/ethereum-roulette.html"
        >Read more about this project</a
      >
    </p>
    <p>
      <i class="fa fa-external-link"></i>
      <a href="http://ethroulette.ga">http://ethroulette.ga</a>
    </p>
    <p>
      <i class="fa fa-github"></i>
      <a href="https://github.com/bordalix/ethereum-roulette"
        >https://github.com/bordalix/ethereum-roulette</a
      >
    </p>
  </div>
  <p>&nbsp;</p>
  <div style="clear: both"></div>
</section>
