---
title: Labs
layout: main
---

<style>
  {% include css/box.css %}
  {% include css/project.css %}
</style>

<section>
  <div class="container">
    <h1 class="heading">
      <span>Labs</span>
    </h1>
    <h2 class="lead">My private batcave</h2>
  </div>
</section>

<section class="grey">
  <div class="container">
    <h3 class="lead">Chesstr</h3>
    <div class="text_column left">
      <a href="https://chesstr.pages.dev/">
        <picture>
          <source srcset="{{ site.cdn_url }}/portfolio/chesstr_r.webp" type="image/webp" />
          <source srcset="{{ site.cdn_url }}/portfolio/chesstr_r.png" type="image/png" />
          <source srcset="{{ site.cdn_url }}/portfolio/chesstr_r.avif" type="image/avif" />
          <img
            width="480"
            height="360"
            src="{{ site.cdn_url }}/portfolio/chesstr_r.png"
            alt="chesstr site screenshot" />
        </picture>
      </a>
    </div>
    <div class="text_column right">
      <p>A chessboard powered by Nostr</p>
      <p>
        <i class="fa fa-info-circle"></i>
        <a href="/portfolio/chesstr.html">Read more about this project</a>
      </p>
      <p>
        <i class="fa fa-external-link"></i>
        <a href="https://chesstr.pages.dev/">https://chesstr.pages.dev/</a>
      </p>
      <p>
        <i class="fa fa-github"></i>
        <a href="https://github.com/bordalix/chesstr">https://github.com/bordalix/chesstr</a>
      </p>
      <p>
        <i class="fa fa-twitter"></i>
        <a href="https://twitter.com/bordalix/status/1605913469370261505">Announcement twit</a>
      </p>
    </div>
  </div>
  <div style="clear: both"></div>
</section>

<section>
  <div class="container">
    <h3 class="lead">Nostr utils</h3>
    <div class="text_column left">
      <a href="https://nostr-utils.pages.dev/">
        <picture>
          <source srcset="{{ site.cdn_url }}/portfolio/nostr-utils_r.webp" type="image/webp" />
          <source srcset="{{ site.cdn_url }}/portfolio/nostr-utils_r.png" type="image/png" />
          <source srcset="{{ site.cdn_url }}/portfolio/nostr-utils_r.avif" type="image/avif" />
          <img
            width="480"
            height="360"
            src="{{ site.cdn_url }}/portfolio/nostr-utils_r.png"
            alt="nostr-utils site screenshot" />
        </picture>
      </a>
    </div>
    <div class="text_column right">
      <p>Utils to use with Nostr</p>
      <p>Backup and broadcast your Nostr events.</p>
      <p>
        <i class="fa fa-info-circle"></i>
        <a href="/portfolio/nostr-utils.html">Read more about this project</a>
      </p>
      <p>
        <i class="fa fa-external-link"></i>
        <a href="https://nostr-utils.pages.dev/">https://nostr-utils.pages.dev/</a>
      </p>
      <p>
        <i class="fa fa-github"></i>
        <a href="https://github.com/bordalix/nostr-utils">https://github.com/bordalix/nostr-utils</a>
      </p>
    </div>
  </div>
  <div style="clear: both"></div>
</section>

<section class="grey">
  <div class="container">
    <h3 class="lead">Bitcoin stats</h3>
    <div class="text_column left">
      <a href="https://bitcoinstats.pages.dev/">
        <picture>
          <source srcset="{{ site.cdn_url }}/portfolio/bitcoinstats_r.webp" type="image/webp" />
          <source srcset="{{ site.cdn_url }}/portfolio/bitcoinstats_r.png" type="image/png" />
          <source srcset="{{ site.cdn_url }}/portfolio/bitcoinstats_r.avif" type="image/avif" />
          <img
            width="480"
            height="360"
            src="{{ site.cdn_url }}/portfolio/bitcoinstats_r.png"
            alt="ethereum roulette" />
        </picture>
      </a>
    </div>
    <div class="text_column right">
      <p>A Bitcoin dashboard</p>
      <p>
        Made with vanilla JS and CSS, site updates every minute on second '00'.
      </p>
      <p>
        <i class="fa fa-info-circle"></i>
        <a href="/portfolio/bitcoinstats.html">Read more about this project</a>
      </p>
      <p>
        <i class="fa fa-external-link"></i>
        <a href="https://bitcoinstats.pages.dev/">https://bitcoinstats.pages.dev/</a>
      </p>
      <p>
        <i class="fa fa-github"></i>
        <a href="https://github.com/bordalix/bitcoinstats">https://github.com/bordalix/bitcoinstats</a>
      </p>
    </div>
  </div>
  <div style="clear: both"></div>
</section>

<section>
  <div class="container">
    <h3 class="lead">Ethereum roulette</h3>
    <div class="text_column left">
      <a href="ethereum-roulette.html?ref=picture">
        <picture>
          <source srcset="{{ site.cdn_url }}/portfolio/ethereum-roulette_r.webp" type="image/webp" />
          <source srcset="{{ site.cdn_url }}/portfolio/ethereum-roulette_r.png" type="image/png" />
          <source srcset="{{ site.cdn_url }}/portfolio/ethereum-roulette_r.avif" type="image/avif" />
          <img
            width="480"
            height="360"
            src="{{ site.cdn_url }}/portfolio/ethereum-roulette_r.png"
            alt="ethereum roulette" />
        </picture>
      </a>
    </div>
    <div class="text_column right">
      <p>
        A Proof of Concept casino roulette, powered by an Ethereum smart contract, deployed on the ropsten network.
      </p>
      <p>
        <i class="fa fa-info-circle"></i>
        <a href="/portfolio/ethereum-roulette.html">Read more about this project</a>
      </p>
      <p>
        <i class="fa fa-external-link"></i>
        <a href="http://ethroulette.ga">http://ethroulette.ga</a>
      </p>
      <p>
        <i class="fa fa-github"></i>
        <a href="https://github.com/bordalix/ethereum-roulette">https://github.com/bordalix/ethereum-roulette</a>
      </p>
    </div>
  </div>
  <div style="clear: both"></div>
  <p>&nbsp;</p>
</section>

<section class="grey">
  <div class="container">
    <h3 class="lead">IPTV</h3>
    <div class="text_column left">
      <a href="/tv">
        <div class="img-container">
          {% include /svg/tv.svg %}
        </div>
      </a>
    </div>
    <div class="text_column right">
      <p>IPTV channels</p>
      <p>
        Only public and legal streams in m3u format.
      </p>
      <p>
        <i class="fa fa-external-link"></i>
        <a href="/tv">https://joaobordalo.com/tv</a>
      </p>
    </div>
  </div>
  <div style="clear: both"></div>
</section>

<section>
  <div class="container">
    <h3 class="lead">Radio</h3>
    <div class="text_column left">
      <a href="/radio">
        <div class="img-container">
          {% include /svg/radio.svg %}
        </div>
      </a>
    </div>
    <div class="text_column right">
      <p>Radio stations</p>
      <p>
        Only public and legal streams in m3u format.
      </p>
      <p>
        <i class="fa fa-external-link"></i>
        <a href="/radio">https://joaobordalo.com/radio</a>
      </p>
    </div>
  </div>
  <div style="clear: both"></div>
</section>