<nav class="container flexed">
  <div>
    <a href="/" aria-label="logo">
      {% include /svg/logo.svg %}
    </a>
    &middot;
    <a href="/blog">Blog</a>
  </div>
  <div class="shadow">
    <span class="dark-theme-toggle">
      {% include /svg/dark-theme.svg %}
      <span class="sr-only">Dark mode toggle</span>
    </span>
    <a href="/search" title="Search">
      {% include /svg/search.svg %}
      <span class="sr-only">Search</span>
    </a>
    <a href="/feed.xml" title="RSS feed">
      {% include /svg/rss.svg %}
      <span class="sr-only">RSS feed</span>
    </a>
  </div>
</nav>
<style>
  nav.container {
    margin-bottom: 3rem;
  }
  nav a,
  nav a:hover {
    color: var(--black);
    cursor: pointer;
    text-decoration: none;
  }
  nav div {
    gap: 0.5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
  }
  nav svg {
    margin: 2px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
</style>
<script>
  {% include js/dark_mode.js %}
</script>