<nav class="menu-top">
  <div class="container">
    <div class="menu-option">
      <p>
        <a href="/">
          &laquo; back to
          <img width="24" height="24" src="https://cdn.joaobordalo.com/images/static/logos/logo_circle.png" aria-hidden="true" class="logo" alt="JB logo">
        </a>
      </p>
    </div>
    <div class="menu-option right">
      <p>
        <a href="/blog" title="blog">
          <i class="fa fa-edit" aria-hidden="true" style="font-size:21px"></i>
          <span class="sr-only">Blog</span>
        </a>
        &nbsp;
        <i class="fa fa-adjust dark-theme-toggle" aria-hidden="true" style="font-size:21px"></i>
        <span class="sr-only">Dark mode toggle</span>
      </p>
    </div>
  </div>
</nav>
