<style>
  footer {
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    height: 5rem;
    justify-content: center;
    width: 100%;
    padding-bottom: 0;
    position: absolute;
    bottom: 0;
  }

  footer .container {
    padding: 0 2rem;
  }

  footer p {
    color: var(--lightgrey);
    padding: 0;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 0;
  }

  footer p span {
    cursor: pointer;
    color: var(--blue);
  }

  @media(max-width: 414px) {
    footer p {
      font-size: 0.7rem;
    }
  }

  @media(max-width: 767px) {
    footer .container {
      padding: 0 1rem;
    }
  }
</style>

<footer>
  <div class="container" style="width: 100%">
    <div class="flexed">
      <p>©2005-2023 João Bordalo</p>
      <p>
        <span onclick="window.scrollTo(0, 0);">
          back to top
          <i class="fa fa-level-up"></i>
        </span>
      </p>
    </div>
  </div>
</footer>