<nav class="menu-top">
  <div class="container flexed">
    <p class="navLeft">
      <span>
        <a href="/" aria-label="logo"> {% include /svg/logo.svg %} </a>
      </span>
      &middot;
      <a href="/blog">Blog</a>
    </p>
    <p class="navRight">
      <span class="dark-theme-toggle">
        {% include /svg/dark-theme.svg %}
        <span class="sr-only">Dark mode toggle</span>
      </span>
      <a href="/search" title="Search">
        {% include /svg/search.svg %}
        <span class="sr-only">Search</span>
      </a>
      <a href="/feed.xml" title="RSS feed">
        {% include /svg/rss.svg %}
        <span class="sr-only">RSS feed</span>
      </a>
    </p>
  </div>
  <style>
    nav a,
    nav a:hover {
      color: var(--black);
      cursor: pointer;
      text-decoration: none;
    }
    .dark-theme nav a {
      color: white;
    }
    nav svg {
      vertical-align: middle;
    }
    .navRight a {
      margin-left: 4px;
    }
    .navRight {
      margin-bottom: 0;
    }
    @media (max-width: 360px) {
      .navRight a,
      .navRight > span {
        margin-left: 0;
      }
      .hide-on-mobile {
        display: none;
      }
    }
    @media (max-width: 767px) {
      .navRight a,
      .navRight > span {
        margin-left: 2px;
      }
    }
  </style>
</nav>
