<p class="navRight">
  <span>
    <i class="fa fa-adjust dark-theme-toggle" aria-hidden="true" title="Dark mode toggle"></i>
    <span class="sr-only">Dark mode toggle</span>
  </span>
  <a href="/covid" title="Covid dashboard">
    <i class="fa fa-certificate" aria-hidden="true"></i>
    <span class="sr-only">Covid dashboard</span>
  </a>
  <a href="/blog" title="Blog">
    <i class="fa fa-edit" aria-hidden="true"></i>
    <span class="sr-only">Blog</span>
  </a>
  <a href="https://twitter.com/bordalix" title="Twitter">
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <span class="sr-only">Twitter</span>
  </a>
  <a href="https://github.com/bordalix" title="Github">
    <i class="fa fa-github" aria-hidden="true"></i>
    <span class="sr-only">Github</span>
  </a>
</p>
