<p>
  <a href="#" title="dark mode toggle">
    <i class="fa fa-adjust dark-theme-toggle" aria-hidden="true" style="font-size:21px"></i>
    <span class="sr-only">Dark mode toggle</span>
  </a>
  &nbsp;
  <a href="/blog" title="blog">
    <i class="fa fa-edit" aria-hidden="true" style="font-size:21px"></i>
    <span class="sr-only">Blog</span>
  </a>
  &nbsp;
  <a href="https://twitter.com/bordalix" title="twitter">
    <i class="fa fa-twitter" aria-hidden="true" style="font-size:21px"></i>
    <span class="sr-only">Twitter</span>
  </a>
  &nbsp;
  <a href="https://github.com/bordalix" title="github">
    <i class="fa fa-github" aria-hidden="true" style="font-size:21px"></i>
    <span class="sr-only">Github</span>
  </a>
</p>