<!DOCTYPE html>
<html lang="en">
<head>
{% include html/metadata.html %}
{% include html/fontawesome.html %}
<style>
{% include css/reset.css %}
{% include css/main.css %}
{% include css/footer.css %}
</style>
{% seo %}
</head>

<body id="home">
  <main>
    {% include html/backhome.html %}
    <section id="intro">
      <div class="container">
        <h1>404</h1>
        <p>The requested page could not be found.</p>
        <p>Here are some suggestions:</p>
        <ul>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/#contact">Contact</a></li>
          <li><a href="/#experience">Experience</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/#resume">Resume</a></li>
        </ul>
      </div>
    </section>
  </main>
  <script>
    {% include js/galite.js %}
    {% include js/modernizr.js %}
  </script>
</body>
</html>
