<!DOCTYPE html>
<html lang="en">
  <head>
    {% include html/metadata.html %}
    <style>
      {% include css/reset.css %}
      {% include css/main.css %}
      {% include css/form.css %}
      {% include css/print.css %}
      {% include css/dark_mode.css %}
      {% include css/blog.css %}
    </style>
    {% include html/fontawesome.html %}
  </head>
  <body id="home" class="no-js">
    {% include html/navigation.html %}
    <main>{{ content }}</main>
    {% include html/footer.html %}
  </body>
  <script>
    {% include js/dark_mode.js %}
    {% include js/lazyloading.js %}
    {% include js/tts.js %}
    {% include js/unregister_service_worker.js %}
    {% include js/timeago.js %}
  </script>
</html>
