<!DOCTYPE html>
<html lang="en">
  <head>
    {% include html/metadata.html %}
    <style>
      {% include css/reset.css %}
      {% include css/main.css %}
      {% include css/footer.css %}
      {% include css/form.css %}
      {% include css/print.css %}
      {% include css/dark_mode.css %}
    </style>
    {% include html/fontawesome.html %}
  </head>
  <body id="home" class="no-js">
    <nav class="menu-top">{% include html/navigation.html %}</nav>
    <main>
      <div class="container">
        <div class="inner-container">{{ content }}</div>
      </div>
    </main>
    {% include html/footer.html %}
    <script>
      {% include js/dark_mode.js %}
      {% include js/lazyloading.js %}
      {% include js/tts.js %}
      {% include js/unregister_service_worker.js %}
    </script>
  </body>
</html>
