<!DOCTYPE html>
<html lang="en">
<head>
  {% include html/metadata.html %}
  {% include html/fontface.html %}
  {% include html/fontawesome.html %}
  <style>
    {% include css/reset.css %}
    {% include css/footer.css %}
    {% include css/main.css %}
    {% include css/dark_mode.css %}
  </style>
  {% seo %}
</head>

<body id="home">
  {% include html/backhome.html %}
  {{ content }}
  {% include html/footer.html %}
  <script>
    {% include js/fontface_observer.js %}
    {% include js/galite.js %}
    {% include js/modernizr.js %}
    {% include js/dark_mode.js %}
  </script>
</body>
</html>
