<!DOCTYPE html>
<html lang="en">
<head>
{% include html/metadata.html %}
{% include html/fontface.html %}
{% include html/fontawesome.html %}
<style>
{% include css/main.css %}
{% include css/footer.css %}
{% include css/media.css %}
</style>
{% seo %}
</head>
<body id="home">
  <main>
    <div class="container">
      {% include html/backhome.html %}
    </div>
    <section>
      <div class="container">
        <h1 class="heading">Labs</h1>
        <h2 class="lead">My private batcave</h2>
      </div>
    </section>
    <section class="grey">
      <div class="container">
        <h3>Ethereum roulette</h3>
        <div class="text_column left">
          <a href="ethereum-roulette.html?ref=picture">
            <picture>
              <source srcset="https://cdn.joaobordalo.com/images/static/portfolio/ethroulette_r.webp" type="image/webp">
              <source srcset="https://cdn.joaobordalo.com/images/static/portfolio/ethroulette_r.png" type="image/png">
              <img src="https://cdn.joaobordalo.com/images/static/portfolio/ethroulette_r.png" alt="ethereum roulette">
            </picture>
          </a>
        </div>
        <div class="text_column right">
          <p>
            A Proof of Concept casino roulette, powered by an Ethereum smart contract,
            deployed on the ropsten network.
          </p>
          <p>
            I decided to learn more about developing smart contracts, and since I learn
            by building stuff, I decided to implement a casino roulette, with the business
            logic being implemented in Solidity, the language of choice to develop smart
            contracts in the Ethereum blockchain.
          </p>
          <p>
            <i class="fa fa-info-circle"></i>
            <a href="ethereum-roulette.html">Read more about this project</a>
          </p>
          <p>
            <i class="fa fa-external-link"></i>
            <a href="http://ethroulette.ga">http://ethroulette.ga</a>
          </p>
          <p>
            <i class="fa fa-github"></i>
            <a href="https://github.com/bordalix/ethereum-roulette">https://github.com/bordalix/ethereum-roulette</a>
          </p>
        </div>
        <div style="clear: both"></div>
      </div>
    </section>
  </main>
  {% include html/footer.html %}
  <script>
    {% include js/fontface_observer.js %}
    {% include js/register_service_worker.js %}
    {% include js/galite.js %}
    {% include js/modernizr.js %}
  </script>
</body>
</html>
