<!DOCTYPE html>
<html lang="en">
  <head>
    {% include html/common/metadata.html %}
    <style>
      {% include css/reset.css %}
      {% include css/main.css %}
      {% include css/box.css %}
      {% include css/print.css %}
    </style>
    {% include html/common/fontawesome.html %}
  </head>
  <body id="home" class="no-js">
    {% include html/common/navigation.html %}
    <main>{{ content }}</main>
    {% include html/common/footer.html %}
    <script>
      {% include js/box.js %}
      {% include js/dark_mode.js %}
      {% include js/lazyloading.js %}
      {% include js/unregister_service_worker.js %}
    </script>
  </body>
</html>
