---
layout: blog
---

<style>
  {% include css/blog.css %}
</style>

<section>
  <h1 class="heading">
    <a href="/blog">Blog</a>
  </h1>
  <article class="post">
    <h2>
      <a href="{{ page.url }}">{{ page.title }}</a>
    </h2>
    <p class="subtitle">
      <span class="timeago">{{ page.date }}</span> &middot;
      <span class="listen">listen</span>
      <span class="stop" style="display: none">stop</span>
      {% if page.tags %} <br />
      {% for tag in page.tags %}
      <a href="/search?q={{tag}}">#{{tag}}</a>
      {% endfor %}{% endif %}
    </p>
    <div class="content">{{ content }}</div>
    <nav class="menu-bottom">
      <!-- Left side -->
      {% if page.previous %}
      <div class="post left">
        <p><strong>« Previous post</strong></p>
        <p><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></p>
      </div>
      {% endif %}

      <!-- Right side -->
      {% if page.next %}
      <div class="post right">
        <p><strong>Next post »</strong></p>
        <p>
          <a href="{{ page.next.url | relative_url }}">{{ page.next.title }}</a>
        </p>
      </div>
      {% endif %}
    </nav>
  </article>
</section>
