<!DOCTYPE html>
<html lang="en">
<head>
{% include html/metadata.html %}
{% include html/fontface.html %}
{% include html/fontawesome.html %}
<style>
{% include css/traffic.css %}
</style>
{% seo %}
</head>
<body id="home">
  <main>
    <div class="container">
      {% include html/backhome.html %}
      <section>
        <h1 class="heading">Traffic</h1>
        <p>
          <i class="fa fa-external-link"></i>
          <a href="https://play.google.com/store/apps/details?id=com.id1tpnpcj1ylo4kbx4m88o">Android app</a>
        </p>
        <p class="lead">Entering Lisbon from the South, via 25 de Abril bridge</p>
        <div id="south_cams" class="cams"></div>
        <div style="clear: both"></div>
      </section>
      <section>
        <p class="lead">Leaving Lisbon to the South, via 25 de Abril bridge</p>
        <div id="north_cams" class="cams"></div>
        <div style="clear: both"></div>
      </section>
    </div>
  </main>
  {% include html/footer.html %}
  <script>
    {% include js/fontface_observer.js %}
    {% include js/register_service_worker.js %}
    {% include js/galite.js %}
    {% include js/modernizr.js %}
    document.addEventListener("DOMContentLoaded", function () {
      const placeholder = 'https://cdn.joaobordalo.com/images' +
                          '/static/traffic/placeholder.png';
      ['south_cams', 'north_cams'].forEach(function (div_id) {
        var camIDs = {
          south_cams: [305, 306, 307, 5, 308, 309, 310, 311, 7, 312, 313, 149, 532, 314, 316],
          north_cams: [78, 79, 80, 81]
        };
        var div = document.getElementById(div_id);
        camIDs[div_id].forEach(function (camID) {
          var col = document.createElement('div');
          col.classList.add('text_column');
          var url = 'https://joaobordalo.com/images/traffic/viaverde_' + camID + '.jpeg?' + new Date().getTime();
          var img = document.createElement('img');
          img.src = url;
          img.alt = 'Cam ID ' + camID;
          img.onerror = function() { img.src = placeholder; }
          col.appendChild(img);
          div.appendChild(col);
        });
      });
    });
  </script>
</body>
</html>